<div id="table" class="all-companies-container">

  <div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">
    <div class="dataTables_length" id="table-dataTables_length">
      <label style="color: black">Show
        <select name="table-dataTables_length" aria-controls="all-companies-datatable"
                (change)="limitChange($event)"
                class="">
          <option value="{{limit}}" *ngFor="let limit of limits">{{limit}}</option>
        </select>
        entries
      </label>
    </div>
    <div id="table-datatable_filter" class="dataTables_filter">
      <button id="couponCreate" class="btn btn-primary" data-toggle="modal" data-target="#dealCouponCreate">Coupon Send</button>
      <label style="color: black;">
        Search:<input type="search" style="width:400px" 
          placeholder="By code, user,coupon ID,plan ID,redeemed_user"
           [(ngModel)]="search" (keyup) = "searchData()" aria-controls="table">
      </label>
    </div>

    <div *ngIf="loading">
      <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
    </div>

    <table *ngIf="!loading" id="successrate-datatable"
           class="dataTable table table-hover table-striped table-sortable">
      <thead>

      <tr>
        <th>
          <div>Code</div>
        </th>
        <th>
          Coupon ID
        </th>

        <th>
          Plan ID
        </th>
        <th>
          User
        </th>
        <th>
          Deal Product ID
        </th>
        <th>
          Details
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let coupon of dealCouponsLogs;let i=index">
      <tr>
        <td>{{coupon.code}}</td>
        <td>{{coupon.coupon_id}}</td>
        <td>{{coupon.plan_id}}</td>
        <td>{{coupon.user || '-----'}}</td>
        <td>{{coupon.deal_product_id}}</td>
        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#coupon-details"><i class="ui-tooltip material-icons"
             (click)="selectCoupon(i)"  style="font-size: 22px;" data-original-title="Edit">visibility</i></a></td>
      </tr>
      </tbody>
    </table>
    <div class="dataTables_info" id="table-datatable_info" role="status"
         aria-live="polite"></div>
    <div class="dataTables_paginate paging_simple_numbers"
         id="all-companies-datatable_paginate">
      <a class="paginate_button previous " aria-controls="all-companies-datatable"
         data-dt-idx="0" tabindex="0"
         (click)="previous()"
         id="all-companies-datatable_previous">Previous</a>
      <span><a class="paginate_button" [ngClass]="1==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(1)" tabindex="0">1</a></span>
      <span *ngIf="current_page >= 5">...</span>
      <span><a class="paginate_button" [ngClass]="num==current_page?'current':''"
               aria-controls="all-companies-datatable" (click)="paging(num)" tabindex="0"
               *ngFor="let num of arrayOf(total_pages)">{{num}}</a></span>
      <span *ngIf="current_page <= total_pages - 5">...</span>
      <span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0"
               [ngClass]="total_pages==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(total_pages)" tabindex="0">{{total_pages}}</a></span>
      <a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0"
         (click)="next()"
         id="all-companies-datatable_next">Next</a>
    </div>
  </div>
</div>
<div id="coupon-details" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content modal-bg">
        <div class="modal-header">
          <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
          </button>
		  <h5 class="modal-title">Coupon Details</h5>
        </div>
        <div class="modal-body">
          <div class="sahil-material" *ngIf="selectedCoupon">
            <!-- {{ selectedCoupon | json }} -->
            <div *ngFor="let key of generateKeys(selectedCoupon)">
              <p><i>{{ key + '  :-  ' }}</i>{{ selectedCoupon[key] | json }}</p>
            </div>  
             <!-- <div [innerHTML]="beautifyCode(selectedCoupon)">
            </div>  -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div id="dealCouponCreate" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Deal Copoun Create</h4>
      </div>
      <div class="modal-body">
       <form class="form-horizontal" [formGroup]="DealCouponForm">
				  <div class="form-group">
				    <label for="name" class="col-sm-2 control-label">Name:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="name" formControlName="name" placeholder="User Name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="heading" class="col-sm-2 control-label">Email:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="email" formControlName="email" placeholder="User Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="description" class="col-sm-2 control-label">Product:</label>
				    <div class="col-sm-10">
				      <select class="form-control" formControlName="product">
                <option value="" disabled selected class="text-style-option1">Select Product</option>
							  <option *ngFor="let deal of dealProduct" [value]="deal.product_id">{{ deal.plan }}</option>
						</select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="media_type" class="col-sm-2 control-label">Deal Type:</label>
				    <div class="col-sm-10">
					    <select class="form-control" formControlName="source">
                <option value="" disabled selected class="text-style-option1">Select Deal</option>
							  <option value="jvzoo">JVZOO</option>
								<option value="paykickstart">PAYKICKSTART</option>
						</select>
				    </div>
          </div>
          <div class="form-group" *ngIf="DealCouponForm.get('coupon').value">
				    <label for="media_type" class="col-sm-2 control-label">Coupon Code:</label>
				    <div class="col-sm-10">
					      	<label for="id" class="col-sm-10 control-label" style="text-align:left;">{{ DealCouponForm.get('coupon').value }}</label>
					  </div>
				  </div>
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateDealCoupon()" [disabled]="!DealCouponForm.valid">Update</button>
      </div>
    </div>
  </div>
</div>
