.all-erorrs-container{
  top:100px;
  position: relative;
  margin-left: 255px;
}

.btn-design {
  border: 2px solid #fb545b;
  color: #636f76;
  background: none;
  cursor: pointer;
  font-size: 13px;
  margin-left: 50px;
}
.dataTable{
  width:90%;
}
.logContainer{
  max-height: 600px;
    overflow-y:auto;
}
.dataTables_length{
  display: inherit;
}

.dataTables_filter{
  display: inherit;
}

.ab-accordion {
  position: absolute;
  left: 0;
  top: 0;
  height: 35em;
  padding: 2em;
  overflow-y: auto;
  background-color: black;
  color: red;
}
.ab-accordion > i {
  top: 1px;
  cursor: pointer;
  right: 1px;
  float: right;
  border-color: black;
  position: sticky;
  background-color: white;
}

.ab-input-search {
  height: 20px;
  width: 80px;
  border: 1px solid;
}