<div *ngIf="loading" class="col-md-10">
  <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
</div>
<div class="col-md-4 settingBox">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Site Settings</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover table-user-information">
            <tr>
              <th colspan="2">Addon</th>
            <tr>
            <tr>
              <td>
                Leads
              </td>
              <td>
                <input type="text" [(ngModel)]="addon_leads"/>
              </td>
            </tr>
            <tr>
              <td>
                Traffic
              </td>
              <td>
                <input type="text" [(ngModel)]="addon_traffic"/>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button (click)="updateSiteSettings()">Submit</button>
                <span>{{siteSettingMsg}}</span>
              </td>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
      <div class="panel-heading">
          <a [routerLink]="['/admin/features']"><h3 class="panel-title">Features</h3></a>
      </div>
  </div>-->
</div>
<div class="col-md-4 settingBox">
  <div class="row">
    <div>
      <a [routerLink]="['/admin/features']" type="button" class="btn btn-default">
        Feature
      </a>
    </div>
  </div>
</div>
<div class="col-md-4 settingBox">
    <div class="row">
        <div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#planModal">
                Create Plan
            </button>
        </div>
    </div>
</div>
<div class="col-md-4 settingBox">
    <div class="row">
        <div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#fetchPlanModal">
                Fetch Plan
            </button>
        </div>
    </div>
</div>
<div *ngIf="!loading" class="col-md-12 all-plans-container" id="my-account">
  <div class="col-md-12 col-sm-12 col-xs-12 np">
    <!-- Start: Nav tabs -->
    <div class="np">
      <ul class="nav nav-tabs nav-justified" style="padding:0px;" role="tablist">
        <li role="presentation" [class.active]="i==0" *ngFor="let planCategory of keys(plans);let i =index">
          <a href="#{{planCategory}}" class="hvr-sweep-to-right"
             aria-controls="myProfile" role="tab" data-toggle="tab" (click)="selectedPlanCategory=planCategory">{{planCategory}}</a>
        </li>
      </ul>
    </div>

    <div class="np" style="overflow-x: scroll;">
      <ul class="nav nav-tabs nav-justified" style="padding:0px;" role="tablist">
        <li role="presentation" [class.active]="i==0" *ngFor="let plan of plans[selectedPlanCategory];let i =index">
          <a href="#{{plan.plan._id}}" *ngIf="plan.plan?.name!='Student'"
             aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">
            {{plan.plan?.name}}
          </a>
        </li>
      </ul>
    </div>
    <!-- End: Nav tabs -->
    <!-- Start: tabs sub content -->
    <div class="tab-content tab-sub-content tab-sub-content-2">
      <!-- Start: tab my-profile -->
      <div [class.active]="i==0" *ngFor="let plan of plans[selectedPlanCategory]; let i = index" role="tabpanel"
           class="tab-pane sahil-material my-profile"
           id="{{plan.plan._id}}">
        <og-features [data]="plan"></og-features>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">

  </div>
</div>

<div id="planModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create/Duplicate a Plan</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="plan_id">Id:</label>
                    <input type="text" class="form-control" id="plan_id" [(ngModel)]="createPlanModel._id">
                </div>
                <div class="form-group">
                    <label for="plan_name">Name:</label>
                    <input type="text" class="form-control" id="plan_name" [(ngModel)]="createPlanModel.name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" [(ngModel)]="createPlanModel.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="plan_type">Plan Type</label>
                    <ng-select
                            placeholder="Select Plan Type"
                            [items] = "planTypes"
                            (selected)="onPlanTypeSelected($event)"
                            id="plan_type"
                    ></ng-select>
                </div>
                <div class="form-group">
                    <label for="plan_to_be_duplicated">Plan to be duplicated - Select non to create a plan from scratch with all features set to true</label>
                    <ng-select
                            [allowClear]="true"
                            (removed)="onPlanDeselect($event)"
                            placeholder="Select a plan to be duplicated"
                            [items] = "planNames"
                            (selected)="onPlanSelected($event)"
                            id="plan_to_be_duplicated"
                    ></ng-select>
                </div>
                <div *ngIf="createPlanModel.source_plan === ''">
                    <div class="form-group">
                        <label for="companies">Number of companies - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.companies" id="companies">
                    </div>
                    <div class="form-group">
                        <label for="leads">Number of leads per month - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.leads" id="leads">
                    </div>
                    <div class="form-group">
                        <label for="visits">Number of visits per month - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.visits" id="visits">
                    </div>
                    <div class="form-group">
                        <label for="templates">Number of templates - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.templates" id="templates">
                    </div>
                    <div class="form-group">
                        <label for="calculators">Number of calculators - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.calculators" id="calculators">
                    </div>
                    <div class="form-group">
                        <label for="users">Number of users - Write -1 for infinite</label>
                        <input type="number" class="form-control" [(ngModel)]="createPlanModel.users" id="users">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="createPlan()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="fetchPlanModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fetch plan from another API</h4>
            </div>
            <div class="modal-body">
                <div>
                    <span *ngIf="fetchPlanModal.error" class="errors">{{ fetchPlanModal.error }}</span>
                </div>
                <div class="form-group">
                    <label for="plan_id">API URL:</label>
                    <input style="width: 100%;" type="text" class="form-control" id="api_url" [(ngModel)]="fetchPlanModal.api_url">
                    <button type="button" class="btn btn-blue" (click)="fetchPlanList()">Fetch Plan List</button>
                </div>

                <div class="form-group">
                    <ng-select
                        [placeholder]="fetchPlanModal.placeholder"
                        [multiple]="true"
                        [items]="fetchPlanModal.fetchedPlansList"
                        (selected)="onFetchedPlanSelect($event)"
                        (removed)="onFetchedPlanRemove($event)"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <span class="success">{{ fetchPlanModal.successMsg }}</span>
                </div>
                <button type="button" class="btn btn-blue" (click)="fetchAndSavePlans()">Fetch Selected Plans</button>
            </div>
        </div>

    </div>
</div>
