<div class="left-sidebar col-md-3 col-sm-3 col-xs-3 np mobile-left-sidebar">
  <div id="" class="tabbable tabs-left">
    <ul>
      <li class="setting-nav active" id="userSet" (click)="showTab('users')">
        <a [routerLink]="['users']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">face</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Users</h6>
            <span class="">See the account, membership, team and other details of all users of outgrow</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="compSet" (click)="showTab('companies')">
        <a [routerLink]="['companies']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">bubble_chart</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Companies</h6>
            <span class="">See the account, membership, team and other details of all companies of outgrow</span>
          </div>
        </a>
      </li>

      <li *ngIf="sub_role == null" class="setting-nav" id="plnSet" (click)="showTab('plans')">
        <a [routerLink]="['plans']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">view_carousel</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Plans</h6>
            <span class="">Manage all features of diffrent plans and also control users, templates and no of calculators. </span>
          </div>
        </a>
      </li>
      <!-- <li *ngIf="sub_role == null" class="setting-nav" id="company_plans" (click)="showTab('company_plans')">
        <a [routerLink]="['company_plans']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">view_carousel</i>
                  </span>
          <div class="left-sidebar-title">
            <h6>Company Plans</h6>
            <span>Manage all features of different Company Feature plans </span>
          </div>
        </a>
      </li> -->
      <li *ngIf="sub_role == null" class="setting-nav" id="sub_domainSet" (click)="showTab('sub_domains')">
        <a [routerLink]="['subdomains']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">public</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Sub Domains</h6>
            <span class="">manage the reserved and premium subdomains</span>
          </div>
        </a>
      </li>
      <!---
      Code for Landon Calc
      -->
      <li class="setting-nav" id="londonerSet" (click)="showTab('londoner')">
        <a [routerLink]="['londoner']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">public</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Londoner</h6>
            <span class="">manage your londoner calc</span>
          </div>
        </a>
      </li>
      <!---
            Code for Landon Calc
            -->
      <!--
                Code for premaid calc
            -->
      <!-- <li class="setting-nav" id="premaidset" (click)="showTab('premaidcalc')">
                <a [routerLink]="['premaidcalc']" data-toggle="tab">
                    <span class="left-sidebar-icon">
                    <i class="material-icons">public</i>
                  </span>
                    <div class="left-sidebar-title">
                        <h6 class="">Premaid Calc Tag</h6>
                        <span class="">premaid calc tag setting</span>
                    </div>
                </a>
            </li> -->

      <li *ngIf="sub_role == null" class="setting-nav" id="email-logs" (click)="showTab('email-logs')">
        <a [routerLink]="['emailLogs']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">chrome_reader_mode</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Email/Deal Logs</h6>
            <span class="">Check all the email &amp; deal Logs</span>
          </div>
        </a>
      </li>

      <li class="setting-nav" id="leads-tab" (click)="showTab('leads')">
        <a [routerLink]="['leads']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">supervisor_account</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Leads</h6>
            <span class="">All generated leads</span>
          </div>
        </a>
      </li>
      <li *ngIf="sub_role == null" class="setting-nav" id="couponcode-tab" (click)="showTab('couponcode-tab')">
        <a [routerLink]="['couponcode']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">local_activity</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Couponcode</h6>
            <span class="">All created couponcodes</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="special_deals-tab" (click)="showTab('specialdeals-tab')">
        <a [routerLink]="['specialDeals']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">local_activity</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Special Coupon code</h6>
            <span class="">All created Special couponcodes</span>
          </div>
        </a>
      </li>
      <li *ngIf="sub_role == null" class="setting-nav" id="error-logs" (click)="showTab('error-logs')">
        <a [routerLink]="['errorLogs']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Error Logs</h6>
            <span class="">Check all the Error Logs</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="hello-bar" (click)="showTab('hello-bar')">
        <a [routerLink]="['hello-bar']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">HELLO BAR</h6>
            <span>Creates Hello bar with custom filters</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" *ngIf="sub_role == null" id="locales-admin" (click)="showTab('locales-admin')">
        <a [routerLink]="['locales-admin']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Locales</h6>
            <span class="">Manage all the locales</span>
          </div>
        </a>
      </li>

      <li class="setting-nav hidden" id="response-logs" (click)="showTab('response-logs')">
        <a [routerLink]="['responseLogs']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Response Logs</h6>
            <span class="">Check all the Response Logs</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="promotion-checklist" (click)="showTab('promotion-checklist')">
        <a [routerLink]="['promotion-checklist']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Promotion Checklist</h6>
            <span class="">Create Edit promotion checklist items</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="integration-logs" (click)="showTab('integration-log')">
        <a [routerLink]="['integration-logs']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Integrations</h6>
            <span class="">List of all Integrations</span>
          </div>
        </a>
      </li>
      <li *ngIf="sub_role == null" class="setting-nav" id="premade-calcs" (click)="showTab('premade-calcs')">
        <a [routerLink]="['premades-features/premade_calcs']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Premades</h6>
            <span class="">Check all the premade calculators</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="layout-preview" (click)="showTab('layout-preview')">
        <a [routerLink]="['layout-preview']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Layout Preview</h6>
            <span class="">Set Preview For Each Layout</span>
          </div>
        </a>
      </li>
      <li class="setting-nav" id="sheets" (click)="showTab('sheets')">
        <a [routerLink]="['sheets']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">sheets view</h6>
            <span class="">sheets view of subdomain</span>
          </div>
        </a>
      </li>

      <!-- new edition -->
      <li class="setting-nav" id="cache-handling" (click)="showTab('cache-handling')">
        <a [routerLink]="['cache-handling']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">Handling Cache</h6>
            <span>Manage all the cache</span>
          </div>
        </a>
      </li>
      <!-- ends new edition -->

      <!-- <li class="setting-nav" id="cancel-req" (click)="showTab('cancel-req')">
        <a [routerLink]="['cancel-request']" data-toggle="tab">
          <span class="left-sidebar-icon">
            <i class="material-icons">list</i>
          </span>
          <div class="left-sidebar-title">
            <h6 class="">MRR Calculations</h6>
            <span>View all MRR of subscriptions</span>
          </div>
        </a>
      </li> -->


      <!--<li class="setting-nav" id="customJSApprovals" (click)="showTab('customJSApprovals')">-->
      <!--<a [routerLink]="['customJSApprovals']" data-toggle="tab">-->
      <!--<span class="left-sidebar-icon">-->
      <!--<i class="material-icons">list</i>-->
      <!--</span>-->
      <!--<div class="left-sidebar-title">-->
      <!--<h6 class="">customJS Approvals</h6>-->
      <!--<span class="">Check all the Pending requests for custom Javascript insertions</span>-->
      <!--</div>-->
      <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>
