#new-setup-payment .modal-content {
    border-radius: 8px;
    float: left;
    width: 100%
}

#new-setup-payment .modal-header {
    padding: 10px 17px;
    border-bottom: none;
    background: #fb6066;
    border-radius: 7px 7px 0 0
}

#new-setup-payment.modal button.close.btn-close {
    text-shadow: none;
    position: absolute;
    right: 15px;
    top: 12px;
    z-index: 9;
    opacity: 1;
    transition: all .3s ease 0s!important
}

#new-setup-payment.modal button.close.btn-help {
    text-shadow: none;
    position: absolute;
    right: 40px;
    top: 11px;
    z-index: 9;
    opacity: 1;
    transition: all .3s ease 0s!important
}

#new-setup-payment.modal i.material-icons {
    font-size: 16px;
    color: #fff
}

#new-setup-payment.modal button.close.btn-help i.material-icons {
    font-size: 14px;
    color: #fff
}

#new-setup-payment .modal-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px
}

#new-setup-payment.modal .modal-body {
    padding: 20px;
    float: left;
    width: 100%
}

#new-setup-payment.modal .modal-body h4.wc-name {
    color: #fb545b;
    font-size: 18px;
    font-family: montserratregular;
    margin-top: 5px;
    margin-bottom: 20px
}

#new-setup-payment.modal .modal-body p {
    color: #62696d;
    font-size: 12px;
    font-family: montserratregular;
    padding-top: 20px;
    line-height: 18px;
    margin-bottom: 30px
}

#new-setup-payment .btn-red-outline {
    color: #fb545b;
    background-color: #fff;
    border-color: #ffb5b8;
    border-radius: 0;
    font-size: 11px;
    padding: 7px 20px;
    margin: 40px 0 0;
    transition: all .3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    float: none
}
.cc-modal-backdrop,
.new-setup-payment-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    margin-top: 56px;
    background: rgba(0, 0, 0, .99);
    filter: alpha(opacity=50);
    opacity: .5
}

#new-setup-payment .btn-updateCard {
    margin-right: 10px !important;
}
#new-setup-payment.modal {
    padding: 0px !important;
}
:focus {
    outline: none !important;
    box-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 320px) {
    #new-setup-payment .btn-red-outline{
        margin: 0px;
        margin-bottom: 15px;
    }
    #new-setup-payment .btn-updateCard {
        margin-top: 30px !important;
        margin-right: 0px !important;
    }

}

.cc-modal .modal-dialog {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
    .cc-modal .modal-header {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        padding-top: 3px
    }
    .cc-modal .modal-body {
        position: relative;
        padding: 0;
        float: left;
        width: 100%
    }
    .cc-modal .modal-body .form-wrapper {
        float: left;
        width: 100%;
        margin-top: 25px
    }
    .cc-modal .modal-content.modal-content-credit {
        background-image: url(../../../assets/images/og-trans.png);
        background-color: #fb545b;
        background-repeat: no-repeat;
        background-position: -60px -75px;
        padding: 20px 25px 25px;
        width: 360px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
        border: none;
        position: absolute;
        top: 25%;
        left: 12%;
        z-index: 1;
        border-radius: 6px;
    }
    .cc-modal .modal-content.modal-content-cvv {
        background: #bec5c9;
        width: 360px;
        min-height: 203px;
        box-shadow: none;
        border: none;
        position: absolute;
        top: 32%;
        right: 70px;
        z-index: 0;
        border-radius: 6px;
    }
    .cc-modal .credit-sec {
        margin-top: 25px
    }
    .cc-modal input.cc-number {
        background: #fff;
        border: none;
        border-radius: 3px;
        min-height: 34px;
        font-size: 14px;
        font-family: montserratsemibold;
        letter-spacing: 2px;
        min-width: 67px;
        text-align: center;
        color: #fb545b!important;
        margin-right: 9px
    }
    .cc-modal input.cc-number.cc-number-last {
        margin-right: 0!important
    }
    .cc-modal .validity-sec {
        margin: 10px 0 5px
    }
    .cc-modal .validity-sec .val-text {
        font-size: 12px;
        color: #f6f8f9;
        font-family: verdana
    }
    .cc-modal .validity-sec input.cc-exp {
        background: 0 0;
        border: none;
        font-size: 14px;
        font-family: montserratsemibold;
        letter-spacing: 2px;
        width: 30px;
        text-align: center;
        color: #fff;
        margin-right: 5px
    }
    .cc-modal .cvv-number,
    .cc-modal .name-sec input.cc-name {
        font-family: montserratregular;
        letter-spacing: 1px;
        font-size: 14px
    }
    .cc-modal .validity-sec input.cc-exp.cc-exp-last {
        margin-right: 0!important;
        margin-left: 5px;
        width: 50px
    }
    .cc-modal .name-sec input.cc-name {
        background: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 3px;
        text-align: left;
        color: #fb545b!important;
        width: 228px
    }
    .cc-modal.modal .separator {
        font-size: 14px;
        color: #fff
    }
    .cc-modal .validity-sec input.cc-exp::-webkit-input-placeholder {
        color: #fff
    }
    .cc-modal .validity-sec input.cc-exp::-moz-placeholder {
        color: #fff
    }
    .cc-modal .validity-sec input.cc-exp:-ms-input-placeholder {
        color: #fff
    }
    .cc-modal.modal .grey-bg {
        background: #62696d;
        min-height: 40px;
        float: left;
        width: 100%;
        margin: 40px 0 25px
    }
    .cc-modal .cvv-number {
        background: #fff;
        border: none;
        border-radius: 3px;
        min-height: 34px;
        text-align: center;
        color: #62696d!important;
        float: right;
        margin-right: 15px;
        width: 70px
    }
    .cc-modal .cvv-text {
        font-size: 14px;
        color: #eceff0;
        font-family: montserratsemibold;
        text-transform: uppercase;
        float: right;
        width: 100%;
        text-align: right;
        margin-right: 32px;
        letter-spacing: 2px;
        padding-top: 2px
    }
    .cc-modal.modal button.close.btn-close {
        position: absolute;
        right: -110px;
        top: 0;
        z-index: 9;
        opacity: 1;
        transition: all .3s ease 0s!important;
        padding: 2px 10px;
        background: #fff;
        border-radius: 25px;
        font-size: 10px;
        font-family: montserratsemibold;
        text-transform: uppercase;
        line-height: 18px;
        vertical-align: middle;
        color: #fb5d63
    }
    .cc-modal.modal button.close.btn-close i.material-icons {
        font-size: 12px;
        color: #fb5d63;
        padding-left: 5px;
        position: relative;
        top: 3px
    }
    .cc-modal.modal .btn-red-outline {
        color: #fb545b;
        background-color: #fff;
        border-color: #ffb5b8;
        border-radius: 0;
        font-size: 11px;
        padding: 6px 30px;
        margin: 20px 0;
        transition: all .3s ease 0s;
        font-family: montserratregular;
        text-transform: uppercase;
        position: absolute!important;
        bottom: -70px;
        right: 0;
        opacity: 1
    }
    .cc-modal.modal input.cc-exp:focus,
    .cc-modal.modal input.cc-name:focus,
    .cc-modal.modal input.cc-number:focus,
    .cc-modal.modal input.cvv-number:focus {
        outline: -webkit-focus-ring-color auto 0
    }
    /*.cc-modal.modal .alert.alert-danger.custom-danger {
        background: #feddde!important;
        border-radius: 0;
        min-height: 32px;
        position: relative;
        top: -260px;
        padding: 9px 10px;
        width: 460px;
        left: -98px
    }*/
    .cc-modal.modal .alert.alert-danger.custom-danger {
        background: #feddde!important;
        border-radius: 0;
        min-height: 32px;
        position: relative;
        top: 95px;
        padding: 9px 10px;
        width: 460px;
        left: 72px;
    }
    .cc-modal.modal .alert.alert-danger p {
        position: relative
    }
     @media screen and (min-width: 320px) and (max-width: 320px) {
        .cc-modal .modal-dialog {
            top: -70px
        }
        .cc-modal.modal button.close.btn-close {
            right: 0;
            top: -30px
        }
        .cc-modal .modal-content.modal-content-credit {
            width: 293px;
            top: 30%;
            left: -5px;
            padding: 20px 18px 25px
        }
        .cc-modal .modal-content.modal-content-cvv {
            width: 290px;
            top: 50%;
            right: -3px
        }
        .cc-modal input.cc-number {
            letter-spacing: 1px;
            min-width: 54px
        }
        .cc-modal.modal .alert.alert-danger.custom-danger {
            top: 70px;
            width: 310px;
            left: -5px;
        }
    }
    @media screen and (min-width: 360px) and (max-width: 360px) {
        .cc-modal .modal-dialog {
            top: -70px
        }
        .cc-modal.modal button.close.btn-close {
            right: -25px;
            top: -30px
        }
        .cc-modal .modal-content.modal-content-credit {
            width: 325px;
            top: 25%;
            left: -5px;
            padding: 20px 18px 25px
        }
        .cc-modal .modal-content.modal-content-cvv {
            width: 290px;
            top: 41%;
            right: -3px
        }
        .cc-modal input.cc-number {
            letter-spacing: 1px;
            min-width: 54px
        }
        .cc-modal.modal .alert.alert-danger.custom-danger {
            top: 85px;
            width: 350px;
            left: -5px;
        }
    }
    @media screen and (min-width: 375px) and (max-width: 375px) {
        .cc-modal .modal-dialog {
            top: -70px
        }
        .cc-modal.modal button.close.btn-close {
            right: -38px;
            top: -30px
        }
        .cc-modal .modal-content.modal-content-credit {
            width: 325px;
            top: 25%;
            left: -5px;
            padding: 20px 18px 25px
        }
        .cc-modal .modal-content.modal-content-cvv {
            width: 290px;
            top: 37%;
            right: -3px
        }
        .cc-modal input.cc-number {
            letter-spacing: 1px;
            min-width: 54px
        }
        .cc-modal.modal .alert.alert-danger.custom-danger {
            top: 155px;
            width: 365px;
            left: -5px;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 480px) {
        .cc-modal .modal-content.modal-content-credit {
            left: 0
        }
        .cc-modal .modal-content.modal-content-cvv {
            right: 0px
        }
        .cc-modal.modal button.close.btn-close {
            right: -92px
        }
        .cc-modal.modal .alert.alert-danger.custom-danger{
            left: 2px !important;
        }
    }
    @media screen and (min-width: 640px) and (max-width: 640px) {
        .cc-modal .modal-content.modal-content-cvv {
            right: 75px
        }
    }

    @media screen and (min-width: 768px) and (max-width: 768px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 100px !important;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1024px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 100px !important;
        }
    }
    @media screen and (min-width: 1280px) and (max-width: 1280px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 125px !important;
        }
    }
    @media screen and (min-width: 1440px) and (max-width: 1440px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 155px !important;
        }
    }
    @media screen and (min-width: 1536px) and (max-width: 1536px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 440px !important;
        }
    }
    @media screen and (min-width: 1680px) and (max-width: 1680px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 190px !important;
        }
    }
    @media (min-width: 1920px) {
        .cc-modal.modal .alert.alert-danger.custom-danger{
            top: 195px !important;
        }
    }

    .np{padding: 0px;}
    .alert.alert-danger {
    background: 0 0!important;
    border: none;
    position: relative;
    top: -12px;
    left: 0;
    padding: 0;
    color: #fb545b!important;
    font-size: 11px;
    margin: 0;
    float: left;
    width: 100%;
    text-align: left
}
.alert.alert-danger p {
    position: absolute;
    width: 100%;
    font-family: montserratregular;
}
.alert.alert-dange p span.mat-icon {
    float: left;
    width: auto
}
.alert.alert-danger p span.mat-icon i.material-icons {
    float: left;
    font-size: 12px!important;
    margin-right: 5px;
    margin-top: 1px;
    color: #fb545b!important
}
.alert.alert-danger.custom-alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 0;
    background: #feddde!important
}
.alert.alert-danger.custom-alert p {
    position: relative
}
