<div id="table" class="" [class.all-companies-container]="sub_role !== 'ADMIN_LTD'"
     [class.admin-ltd]="sub_role === 'ADMIN_LTD'">

  <div style="float: right;margin: 10px;">
    <label style="float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;">{{analyticsUpdateStatus}}</label>
    <button (click)="updateAnalytics()">Update Analytics</button>
  </div>
  <div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">
    <div class="dataTables_length" id="table-dataTables_length">
      <label style="color: black">Show
        <select name="table-dataTables_length" aria-controls="all-companies-datatable"
                (change)="limitChange($event)">
          <option value="{{limit}}" *ngFor="let limit of limits">{{limit}}</option>
        </select>
        entries
      </label>
    </div>

    <div (click)="showAdvancedFilter=!showAdvancedFilter;" class="filter-icon">
      <span class="glyphicon glyphicon-filter"></span>
      Filter
    </div>

    <div id="table-datatable_filter" class="dataTables_filter">
      <label style="color: black">
        Search:<input type="search" placeholder="By Name, Title, Url" [(ngModel)]="search" aria-controls="table"
                      [formControl]='searchCalc'>
      </label>
    </div>

    <div *ngIf="showAdvancedFilter" class="advanced-filter">
      <div class="row">
        <div class="col-sm-4" style="margin-left: 15px">
          <b>Created At: </b>
        </div>
        <div class="col-sm-4">
          <og-date-range-picker *ngIf="scriptLoaded" (date)="onDateSelect($event)">
          </og-date-range-picker>
        </div>

        <div class="col-sm-4">
          <input (change)="onlyLive=!onlyLive" type="checkbox" name="live" value="Bike">
          <span class="live">Live</span><br>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-sm-4" style="margin-left: 15px">
          <select title="select" [(ngModel)]="selectedFilter">
            <optgroup label="Company">
              <option [ngValue]="{type:'company',field:'sub_domain', value: value}">Sub Domain</option>
            </optgroup>
            <optgroup label="App">
              <option [ngValue]="{type:'app',field:'header', value: value}">Header</option>
              <option [ngValue]="{type:'app',field:'sub_header', value: value}">SubHeader</option>
            </optgroup>
          </select>
        </div>
        <div>
          <input type="text" placeholder="enter value" [(ngModel)]="value"
                 (change)="selectedFilter['value']=$event.target.value">
        </div>
      </div>

      <button class="apply-filter-container" (click)="filterResults()">Fetch Results</button>
    </div>


    <div *ngIf="loading">
      <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
    </div>

    <table *ngIf="!loading" class="dataTable table table-hover table-striped table-sortable">
      <thead>
      <tr>
        <th>Calculator Url</th>
        <th>Status</th>
        <th (click)="sort('leadsCount')">
          <div class="sort-icon"><a href="javascript:void(0);">Leads</a></div>
        </th>
        <th (click)="sort('visitorsCount')">
          <div class="sort-icon"><a href="javascript:void(0);">Visits</a></div>
        </th>
        <th (click)="sort('conversionRate')">
          <div class="sort-icon"><a href="javascript:void(0);">Conversion Rate</a></div>
        </th>
        <th>AnalyticsLastUpdate</th>
        <th (click)="sort('createdAt')">
          <div class="sort-icon"><a href="javascript:void(0);">Created At</a></div>
        </th>
        <th (click)="sort('updatedAt')">
          <div class="sort-icon"><a href="javascript:void(0);">Latest Publish</a></div>
        </th>
        <th>Company</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let app of apps">
        <td>
          <div *ngIf="app.status=='DEV'">{{app.url}}</div>
          <a *ngIf="app.status=='LIVE'" [href]="'http://'+app.url" target="_blank">{{app.url}}</a>
        </td>
        <td>{{app.status}}</td>
        <td>
          <div *ngIf="app.analytics?.leadsCount">{{app.analytics?.leadsCount}}</div>
          <div *ngIf="!app.analytics?.leadsCount">0</div>
        </td>
        <td>
          <div *ngIf="app.analytics?.visitorsCount">{{app.analytics?.visitorsCount}}</div>
          <div *ngIf="!app.analytics?.visitorsCount">0</div>
        </td>
        <td>
          <div *ngIf="app.analytics?.conversionRate">{{app.analytics?.conversionRate}}%</div>
          <div *ngIf="!app.analytics?.conversionRate">0%</div>
        </td>
        <td>
          {{app.analytics?.updatedAt}}
        </td>
        <td>{{app.createdAt}}</td>
        <td>{{app.updatedAt}}</td>
        <td>
          {{app.name}}
          <a [routerLink]="['/admin/company',app.company._id]">
            <i class="ui-tooltip material-icons" style="font-size: 22px;"
               data-original-title="Edit">
              mode_edit</i></a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>
    <div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">
      <a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0"
         tabindex="0"
         (click)="previous()"
         id="all-companies-datatable_previous">Previous</a>
      <span><a class="paginate_button" [ngClass]="1==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(1)" tabindex="0">1</a></span>
      <span *ngIf="current_page >= 5">...</span>
      <span><a class="paginate_button" [ngClass]="num==current_page?'current':''"
               aria-controls="all-companies-datatable" (click)="paging(num)" tabindex="0"
               *ngFor="let num of arrayOf(total_pages)">{{num}}</a></span>
      <span *ngIf="current_page <= total_pages - 5">...</span>
      <span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0"
               [ngClass]="total_pages==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(total_pages)" tabindex="0">{{total_pages}}</a></span>
      <a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0"
         (click)="next()"
         id="all-companies-datatable_next">Next</a>
    </div>
  </div>
</div>


