<div id="table" class="" [class.all-companies-container]="sub_role !== 'ADMIN_LTD'"
     [class.admin-ltd]="sub_role === 'ADMIN_LTD'">

  <div style="float: right;margin: 10px;">
    <label style="float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;">{{analyticsUpdateStatus}}</label>
    <button (click)="updateAnalytics()">Update Analytics</button>
  </div>
  <div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">


    <div (click)="showAdvancedFilter=!showAdvancedFilter;" class="filter-icon">
      <span class="glyphicon glyphicon-filter"></span>
      Filter
    </div>
    <div class="right-section">
      <div id="table-datatable_filter" class="dataTables_filter">
        <label>
          Search by keyword:<input id="keyword" type="search" placeholder="By Name, Title, Url" [(ngModel)]="search"
                         [formControl]='searchCalc'>
        </label>
      </div>


    </div>
    <div class="check-box-outer cust">
      <label class="custom-filter">Only Live<input (change)="fetchLiveCalc()" type="checkbox" class="check-box">
      </label>
    </div>

    <div *ngIf="showAdvancedFilter" class="advanced-filter">
      <div class="row filter-params-container" style="position:relative"
           *ngFor="let filter of filters;let i = index;">

        <div [ngClass]="{'hidden':!(filter.visible)}">
          <button style="float: left;margin: 5px;" (click)="removeFilter(i)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>

          <select [(ngModel)]="filters[i].selected_property" (change)="setFilterProperty($event.target,i)"
                  title="Select Operators" style="float:left;margin: 8px">
            <option style="display: none"></option>
            <optgroup label="Company">

              <option *ngFor="let property of filter.company;" class="company"
                      [value]="property">
                {{property}}
              </option>
            </optgroup>

            <optgroup label="App">
              <option *ngFor="let property of filter.app;" class="app" [value]="property">
                {{property}}
              </option>
            </optgroup>

            <optgroup label="template">
              <option *ngFor="let property of filter.template" class="template" [value]="property">
                {{property}}
              </option>
            </optgroup>
          </select>


          <input [(ngModel)]="filters[i].selected_value"
                 *ngIf="['company','app'].includes(filters[i].selected_property_category) && (filters[i].selected_property_type==='number' || filters[i].selected_property_type==='string')"
                 type="text"/>

          <div *ngIf="filters[i].selected_property_category==='template'"
               style="width: 300px; margin-bottom: 20px;float: left;margin-left: 10px">
            <ng-select [multiple]="true"
                       [items]="[{id: 'all', text: 'all'}].concat(templates)"
                       (selected)="selected($event,i,'template')"
                       (removed)="removed($event.id,i,'template')"
                       placeholder="Select a template">

            </ng-select>
          </div>
          <div *ngIf="filters[i].selected_property_category==='template'"
               style="width: 300px;float: left; margin-left: 10px">
            <ng-select
              [multiple]="true"
              [items]="['all'].concat(templateTypes)"
              (selected)="selected($event,i,'templateType')"
              (removed)="removed($event.id,i,'templateType')"
              placeholder="Select a template type">

            </ng-select>
          </div>


        </div>
      </div>
      <span class="add-more">
        <button style="margin: 5px;margin-left: 20px" (click)="addFilter()">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
        Add more search parameters
      </span>

      <div class="apply-filter-container">

        <button (click)="filterResults()">Fetch Results</button>
        <button (click)="clearFilters()">Clear Filters</button>

      </div>
    </div>

    <div *ngIf="loading">
      <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
    </div>
    <div style="float: left; padding: 7px; width: 60%;" *ngIf="!loading">
      <div class="dataTables_length" id="table-dataTables_length">
        <label style="color: black">Show
          <select name="table-dataTables_length" (change)="limitChange($event)">
            <option value="{{limit}}" *ngFor="let limit of limits">{{limit}}</option>
          </select>
          entries
        </label>
      </div>
    </div>
    <div style="float: right;width: 40%;" *ngIf="!loading">
      <label style="float: left;margin: 0;
    margin-right: 10px;padding: 8px;">Showing {{(current_limit-apps.length)===0?current_limit:apps.length}} of
        {{totalApps}}</label>

      <div style="float: left;margin: 5px;">
        <button (click)="exportToCSV()">Download in csv
      </button>
        <div class="check-box-outer1">
          <label>Get All<input class="check-box" type="checkbox" [(ngModel)]="fetchAll">
          </label>
        </div>
      </div>

    </div>
    <table *ngIf="!loading" class="dataTable table table-hover table-striped table-sortable">
      <thead>
      <tr>
        <th>Calculator Url</th>
        <th>Status</th>
        <th (click)="sort('leadsCount')">
          <div class="sort-icon"><a href="javascript:void(0);">Leads</a></div>
        </th>
        <th (click)="sort('visitorsCount')">
          <div class="sort-icon"><a href="javascript:void(0);">Visits</a></div>
        </th>
        <th (click)="sort('conversionRate')">
          <div class="sort-icon"><a href="javascript:void(0);">Conversion Rate</a></div>
        </th>
        <th>Experience</th>
        <th>Layout</th>
        <th>AnalyticsLastUpdate</th>
        <th (click)="sort('createdAt')">
          <div class="sort-icon"><a href="javascript:void(0);">Created At</a></div>
        </th>
        <th (click)="sort('updatedAt')">
          <div class="sort-icon"><a href="javascript:void(0);">Latest Publish</a></div>
        </th>
        <th>Company</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let app of apps">
        <td>
          <div *ngIf="app.status=='DEV'">{{app.url}}</div>
          <a *ngIf="app.status=='LIVE'" [href]="'http://'+app.url" target="_blank">{{app.url}}</a>
        </td>
        <td>{{app.status}}</td>
        <td>
          <div *ngIf="app.analytics?.leadsCount">{{app.analytics?.leadsCount}}</div>
          <div *ngIf="!app.analytics?.leadsCount">0</div>
        </td>
        <td>
          <div *ngIf="app.analytics?.visitorsCount">{{app.analytics?.visitorsCount}}</div>
          <div *ngIf="!app.analytics?.visitorsCount">0</div>
        </td>
        <td>
          <div *ngIf="app.analytics?.conversionRate">{{app.analytics?.conversionRate}}%</div>
          <div *ngIf="!app.analytics?.conversionRate">0%</div>
        </td>
        <td>{{app.templateType}}</td>
        <td>{{getTemplateName(app.template)?.text}}</td>
        <td>
          {{app.analytics?.updatedAt}}
        </td>
        <td>{{app.createdAt}}</td>
        <td>{{app.updatedAt}}</td>
        <td>
          {{app.name}}
          <a [routerLink]="['/admin/company',app.company._id]">
            <i class="ui-tooltip material-icons" style="font-size: 22px;"
               data-original-title="Edit">
              mode_edit</i></a>
          <a href="javascript::void(0)" data-toggle="modal" data-target="#copyCalc" (click)="setApp(app);company.value='';errorMessage=''">
            <i class="ui-tooltip material-icons"  style="font-size: 22px;"
            data-original-title="Edit">
            content_copy</i></a>

        </td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>
    <div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">
      <a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0"
         tabindex="0"
         (click)="previous()"
         id="all-companies-datatable_previous">Previous</a>
      <span><a class="paginate_button" [ngClass]="1==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(1)" tabindex="0">1</a></span>
      <span *ngIf="current_page >= 5">...</span>
      <span><a class="paginate_button" [ngClass]="num==current_page?'current':''"
               aria-controls="all-companies-datatable" (click)="paging(num)" tabindex="0"
               *ngFor="let num of arrayOf(total_pages)">{{num}}</a></span>
      <span *ngIf="current_page <= total_pages - 5">...</span>
      <span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0"
               [ngClass]="total_pages==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(total_pages)" tabindex="0">{{total_pages}}</a></span>
      <a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0"
         (click)="next()"
         id="all-companies-datatable_next">Next</a>
    </div>
  </div>
</div>

<!-- duplicate model -->
<div class="modal fade" id="copyCalc" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">close</i>
        </button>
        <h3 class="modal-title">Create Duplicate of {{selectedApp?.name}}</h3>
        <h5>Type the company sub_domain in which you want to duplicate</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessage!='no_error'">{{errorMessage}}</div>
        <div>
          <div style="float:left;">
              <input class="admin-input" type="textbox" placeholder="enter company subdomain" #company>
          </div>
          <div style="float:left;">
            <button class="btn btn-primary" (click)="searchCompany(company.value)">Search subdomain</button>
          </div>
        </div>
        <div style="clear:both"></div>
        <div *ngIf="errorMessage == 'no_error'">
            <label class="check-icon">
              <input class="checkBoxClass" id="f-option" type="radio" [checked]="companyDetails.check"
                     (click)="companyDetails.check = !companyDetails.check"/>{{companyDetails.name}}
            </label>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-red" (click)="duplicateApp($event,selectedApp,companyDetails)"
          [disabled]="!companyDetails || !companyDetails.check">Clone this calculator</button>
      </div>
    </div>
  </div>
</div>
