<div id="slack-error" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content modal-bg">
            <div class="modal-body text-center">
				<div id="error" class="">
					<img src="assets/images/slack1.png">
					<p class="subheading">Sorry we were not able to process this request.
					<br/>Please try again.</p>
					<button type="button" class="btn btn-close btn-hover hide" (click)="close()">Close</button>
				</div>
				<div id="please-wait" class="hide">
					<img src="assets/images/slack1.png">
					<p class="subheading">Please wait while we authorize your connection</p>
				</div>
            </div>
		</div>
	</div>
</div>
