 #salesforce-error .modal-body {
    padding: 40px 15px;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
#salesforce-error .subheading {
    font-size: 12px;
    font-family: "montserratregular";
    color: #62696d;
    margin: 20px 0px;
    line-height: 22px;
}
#salesforce-error .btn-close {
    color: #fb545b;
    border: 1px solid #fb545b;
    font-size: 13px;
    margin-top: 0;
    background: #fb545b;
    color: #fff;
    transition: all 0.5s ease;
    white-space: normal;
    word-break: break-word;
    border-radius: 0;
    padding: 7px 30px;
}

#salesforce-error .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}
#salesforce-error .modal-content {
    border-radius: 0px;
    border: none;
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: table;
    height: 100vh;
}
#salesforce-error.modal {
    padding-left: 0px !important;
}
