<div *ngIf="company==null || company_users == null">
  <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
</div>
<br>
<div class="np">
  <ul class="nav nav-tabs nav-justified" style="padding-left:265px!important;float: left;" role="tablist">
        <li role="presentation" [class.active]="" (click)="showTab('company')">
            <a href="#" aria-controls="myProfile" role="tab" data-toggle="pill" class="hvr-sweep-to-right">Company details </a>
        </li>
        <li role="presentation" [class.active]="" (click)="showTab('team')">
          <a href="#" aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">Team details</a>
        </li>
        <li role="presentation" [class.active]="" (click)="showTab('membership')" >
          <a href="#" aria-controls="myProfile" role="tab" data-toggle="pill" class="hvr-sweep-to-right">Membership details</a>
        </li>
          <li role="presentation" [class.active]="" (click)="showTab('features')" >
          <a href="#" aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">Company features</a>
        </li>
        <li role="presentation" [class.active]="" (click)="showTab('integration')">
          <a href="#"  aria-controls="myProfile" role="tab" data-toggle="pill" class="hvr-sweep-to-right">Integrations</a>
        </li>
        <li role="presentation" [class.active]="" (click)="showTab('logs')">
          <a href="#"  aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">Company Logs</a>
        </li>
        <li role="presentation" [class.active]="" (click)="showTab('usage-cycle')">
          <a href="#"  aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">Usage Cycle</a>
        </li>
    </ul>
</div>
<div *ngIf="company!=null && company_users != null" class="single-company-container col-sm-10">
  <div class="container col-md-12 company-cont">
    <div class="row company">
      <div>
        <company-detail [company]="company" [customFeatures]="custom_features"
         (childCompany)="updatecompany($event)"></company-detail>
      </div>
      <div>
        <br>
        <child-companies [companyId]="company.id" [childCompanies]="childCompanies"></child-companies>
        <br/>
      </div>
    </div>
    <div class="row hide team">
      <team-detail [team]="company_users" [company]="company" [userLimit]="company.current_limit_users"
                   [companyId]="company.id"></team-detail>
     </div>
    <div class="row hide features">
      <div class="col-md-12 col-sm-12">
        <agency [company]="company.id"></agency>
      </div>
      <div class="col-md-6 col-sm-6">
        <!-- <company-feature></company-feature> -->
        <company-features-new [data]="companyFeatures" (featureUpdates)="emitChanges($event)"></company-features-new>
      </div>
      <div class="col-md-6 col-sm-6" style="margin-bottom:50px">
        <!-- <company-premades [company]="company" ></company-premades> -->
        <company-premades-new [data]="companyFeatures" [templates]="templates"></company-premades-new>
      </div>
    </div>
    <div class="row hide features">
      <div class="col-md-12 col-sm-12">
        <calculators-detail [company]="company"></calculators-detail>
      </div>
    </div>
    <div class="row hide integrations">
      <div class="col-md-12 col-sm-12">
        <og-integration-detail [company]="company"></og-integration-detail>
      </div>
    </div>
    <div class="row hide membership">
      <div class="col-md-12 col-sm-12">
        <membership-detail [company]="company"></membership-detail>
      </div>
    </div>
    <div class="row hide logs">
      <div class="col-md-12 col-sm-12">
        <company-log [company]="company"></company-log>
      </div>
    </div>
    <div class="row hide usage-cycle">
      <div class="col-md-12 col-sm-12">
        <usage-cycle [company]="company"></usage-cycle>
      </div>
    </div>
  </div>
</div>
