<div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <div class="col-sm-12 ">
                  <h4>Sub Admin Logs</h4>
                </div>
              </div>
            </div>
            <div  class="panel-body">
              <div  id="table">
                <div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="table-dataTables_length">
                    <label>Show
                      <select name="table-dataTables_length" aria-controls="all-companies-datatable" (change) = "limitChange($event)" class="">
                        <option value="{{limit}}" *ngFor = "let limit of limits">{{limit}}</option>
                      </select>
                      entries
                    </label>
                  </div>
                  <div id="table-datatable_filter" class="dataTables_filter">
                    <label>
                      Search:<input type="search" class="" placeholder="" [(ngModel)] = "search" aria-controls="table" (keyup) = "searchData()">
                    </label>
                  </div>
                  <div *ngIf="loading"><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
                  <table *ngIf="!loading" class="dataTable">
                    <thead>
                      <tr>
                        <th>
                        Action Performed
                        </th>
                        <th>
                        Table Name
                        </th>
                        <th>
                        Date
                        </th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let log of subAdminLogs">
                        <td>
                        {{log.event}}
                        </td>
                        <td>
                        {{log.table}}
                        </td>
                        <td>
                        {{dateFormat(log.createdAt)}}
                        </td>     <!-- [routerLink] = "['/admin/subadmin/log/',log._id]"  -->
                        <td>
                        <a style="cursor:pointer" data-toggle="modal" data-target="#modallog"><i class="material-icons" (click)="getLogById(log._id)">remove_red_eye</i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>
                  <div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">
                    <a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0" tabindex="0" (click)="previous()"
                       id="all-companies-datatable_previous">Previous</a>
                    <span><a class="paginate_button" [ngClass] = "1==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(1)"  tabindex="0">1</a></span>
                    <span *ngIf="current_page >= 5">...</span>
                    <span><a class="paginate_button" [ngClass] = "num==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(num)"  tabindex="0" *ngFor = "let num of arrayOf(total_pages)">{{num}}</a></span>
                    <span *ngIf="current_page <= total_pages - 5">...</span>
                    <span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0" [ngClass] = "total_pages==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(total_pages)"  tabindex="0">{{total_pages}}</a></span>
                    <a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0" (click)="next()" id="all-companies-datatable_next">Next</a>
                  </div>
                </div>
              </div>
              <!--<table class="dataTable">-->
                <!--<thead>-->
                <!--<tr>-->
                  <!--<th>-->
                    <!--Action Performed-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Table Name-->
                  <!--</th>-->
                  <!--<th>-->
                    <!--Date-->
                  <!--</th>-->
                  <!--<th>View</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                  <!--<tr *ngFor="let log of subAdminLogs">-->
                    <!--<td>-->
                      <!--{{log.event}}-->
                    <!--</td>-->
                    <!--<td>-->
                      <!--{{log.table}}-->
                    <!--</td>-->
                    <!--<td>-->
                      <!--{{dateFormat(log.createdAt)}}-->
                    <!--</td>-->
                    <!--<td>-->
                      <!--<a [routerLink] = "['/admin/subadmin/log/',log._id]"><i class="material-icons">remove_red_eye</i></a>-->
                    <!--</td>-->
                  <!--</tr>-->
                <!--</tbody>-->
              <!--</table>-->
              <!--<div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>-->
              <!--<div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">-->
                <!--<a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0" tabindex="0" (click)="previous()"-->
                   <!--id="all-companies-datatable_previous">Previous</a>-->
                <!--<span><a class="paginate_button" [ngClass] = "1==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(1)"  tabindex="0">1</a></span>-->
                <!--<span *ngIf="current_page >= 5">...</span>-->
                <!--<span><a class="paginate_button" [ngClass] = "num==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(num)"  tabindex="0" *ngFor = "let num of arrayOf(total_pages)">{{num}}</a></span>-->
                <!--<span *ngIf="current_page <= total_pages - 5">...</span>-->
                <!--<span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0" [ngClass] = "total_pages==current_page?'current':''" aria-controls="all-companies-datatable" (click) = "paging(total_pages)"  tabindex="0">{{total_pages}}</a></span>-->
                <!--<a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0" (click)="next()" id="all-companies-datatable_next">Next</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modallog" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <a title="close" href="#" data-dismiss="modal" aria-label="Close">
            <i class="glyphicon glyphicon-remove pull-right"></i>
          </a>
          <h5 class="modal-title"> Log details</h5>
        </div>
        <div class="modal-body">
          <div class="sahil-material">
            <div class="row">
              <div class="col-md-12">
                Performed By User: {{user}}<br/>
                Action: {{log.event}}<br/>
                On Table: {{log.table}}<br/>
                On Date: {{dateFormat(log.createdAt)}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="col-sm-12 ">
                        <h4>Before Change</h4>
                      </div>
                    </div>
                  </div>
                  <div  class="panel-body">
                    
                    <pre >
                         &#123;
                      <span *ngFor="let item of generateKeys(beforeChange)">
                          <span [innerHTML]="beforeChange[item]"></span>
                      </span>
                         &#125;
                    </pre>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <div class="col-sm-12 ">
                        <h4>After Change</h4>
                      </div>
                    </div>
                  </div>
                  <div  class="panel-body">
                    <pre >
                         &#123;
                      <span *ngFor="let item of generateKeys(afterChange)">
                          <span [innerHTML]="afterChange[item]"></span>
                      </span>
                         &#125;
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" style="display: block" *ngIf="error != ''">
            {{error}}
          </div>
        </div>
      </div>
    </div>
  </div>
  