.panel{
    border: 1px solid #fb5559 !important;
    float: left;
    width: 100%;
  }
  .panel-heading{
    background-color: #2196F3;
  }
  .panel-title div{
    color: #fff;
    background: #fb5559;
    padding: 15px 15px;
  }
  