<div class="all-users-container">
  <div class="row">
    <div class="col-md-12">
      Performed By User: {{user}}<br/>
      Action: {{log.event}}<br/>
      On Table: {{log.table}}<br/>
      On Date: {{dateFormat(log.createdAt)}}
    </div>
  </div>
	<div class="row">
		<div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="col-sm-12 ">
              <h4>Before Change</h4>
            </div>
          </div>
        </div>
        <div  class="panel-body">
          
          <pre >
               &#123;
            <span *ngFor="let item of generateKeys(beforeChange)">
                <span [innerHTML]="beforeChange[item]"></span>
            </span>
               &#125;
          </pre>
          
        </div>
      </div>
		</div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="col-sm-12 ">
              <h4>After Change</h4>
            </div>
          </div>
        </div>
        <div  class="panel-body">
          <pre >
               &#123;
            <span *ngFor="let item of generateKeys(afterChange)">
                <span [innerHTML]="afterChange[item]"></span>
            </span>
               &#125;
          </pre>
        </div>
      </div>
    </div>
	</div>
</div>
