<div class="container">

  <div id="table-datatable_wrapper" class="dataTables_wrapper no-footer">
    <div id="table-datatable_filter" class="dataTables_filter">
      <label style="color: black">
      Search:<input type="search" placeholder="By Name, Title, Url" aria-controls="table">
    </label>
    </div>

    <div *ngIf="loading">
      <div><img src="assets/images/logoAnim.gif" alt="loading..."></div>
    </div>

    <table *ngIf="!loading" class="dataTable table table-hover table-striped table-sortable">
      <thead>
      <tr>
        <th> Calculator Title</th>
        <th>Company</th>
        <!--<th>CRM</th>-->
        <!--<th>Status</th>-->
        <!--<th>First Activated On</th>-->
        <!--<th>Actions</th>-->
      </tr>
      </thead>
      <tbody *ngFor="let integrationLog of integrationLogs">
      <tr>
        <td><a href="javascript:void(0)" (click)="showDetails(integrationLog)">{{integrationLog?.app?.name}}
        </a></td>
        <td>{{integrationLog?.app?.company?.name}}
        </td>
      <tr *ngIf="integrationLog.showDetails">
        <td colspan="11">
          <og-integration-log-details [log]="integrationLog"></og-integration-log-details>
        </td>
      </tr>
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->

      </tbody>
    </table>

    <div class="dataTables_info" id="table-datatable_info" role="status" aria-live="polite"></div>
    <div class="dataTables_paginate paging_simple_numbers" id="all-companies-datatable_paginate">
      <a class="paginate_button previous " aria-controls="all-companies-datatable" data-dt-idx="0"
         tabindex="0"
         (click)="previous()"
         id="all-companies-datatable_previous">Previous</a>
      <span><a class="paginate_button" [ngClass]="1==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(1)" tabindex="0">1</a></span>
      <span *ngIf="current_page >= 5">...</span>
      <span><a class="paginate_button" [ngClass]="num==current_page?'current':''"
               aria-controls="all-companies-datatable" (click)="paging(num)" tabindex="0"
               *ngFor="let num of arrayOf(total_pages)">{{num}}</a></span>
      <span *ngIf="current_page <= total_pages - 5">...</span>
      <span><a class="paginate_button" *ngIf="total_pages!=1 && total_pages!=0"
               [ngClass]="total_pages==current_page?'current':''"
               aria-controls="all-companies-datatable"
               (click)="paging(total_pages)" tabindex="0">{{total_pages}}</a></span>
      <a class="paginate_button next" aria-controls="all-companies-datatable" tabindex="0"
         (click)="next()"
         id="all-companies-datatable_next">Next</a>
    </div>
  </div>
