.container {
  /*background: beige;*/
  margin-left: 15px;
  margin-top: 10px;
}
.panel-heading {
  padding: 10px 10px;
}
.panel-body, .panel-footer {
  background: #FFFFFF;
}
.contains {
  font-size: 10px;
  color: #9f191f;
  margin-top: 5px;
}