/*.hellobar-container{*/
/*top: 72px;*/
/*position: relative;*/
/*margin-left: 255px;*/
/*}*/

/*.panel-heading{*/
/*background-color: #2196F3;*/
/*}*/

/*.user-row {*/
/*margin-bottom: 14px;*/
/*}*/

/*.user-row:last-child {*/
/*margin-bottom: 0;*/
/*}*/

/*.dropdown-user {*/
/*margin: 13px 0;*/
/*padding: 5px;*/
/*height: 100%;*/
/*}*/

/*.dropdown-user:hover {*/
/*cursor: pointer;*/
/*}*/

/*.table-user-information > tbody > tr:first-child {*/
/*border-top: 0;*/
/*}*/

/*.table-user-information > tbody > tr > td {*/
/*border-top: 0;*/
/*}*/
/*.toppad*/
/*{*/
/*margin-top:20px;*/
/*}*/

/*!* switch class  *!*/
/*.switch {*/
/*position: relative;*/
/*display: inline-block;*/
/*width: 60px;*/
/*height: 28px;*/
/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch input {display:none;}*/

/*!* The slider *!*/
/*.slider {*/
/*position: absolute;*/
/*cursor: pointer;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*background-color: #5E35B1 !important;*/
/*-webkit-transition: .4s;*/
/*transition: .4s;*/
/*}*/

/*.slider:before {*/
/*position: absolute;*/
/*content: "";*/
/*height: 26px;*/
/*width: 26px;*/
/*left: 4px;*/
/*bottom: 4px;*/
/*background-color: white;*/
/*-webkit-transition: .4s;*/
/*transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
/*background-color: #2196F3;*/
/*}*/

/*input:focus + .slider {*/
/*box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
/*-webkit-transform: translateX(26px);*/
/*-ms-transform: translateX(26px);*/
/*transform: translateX(26px);*/
/*}*/

/*!* Rounded sliders *!*/
/*.slider.round {*/
/*border-radius: 34px;*/
/*}*/

/*.slider.round:before {*/
/*border-radius: 50%;*/
/*}*/

/*.panel-title div{*/
/*color: #fff;*/
/*background: #F44336;*/
/*padding: 15px 15px;*/
/*}*/
/*.panel{*/
/*border: 1px solid #F44336 !important;*/
/*}*/

/*.form-control {*/
/*background-repeat: inherit;*/
/*}*/

/*.row {*/
/*padding: 5px 0px;*/
/*}*/

/*a[href$='https://froala.com/wysiwyg-editor'] {*/
/*display: none !important;*/
/*}*/

/*.fr-toolbar{*/
/*border-top: 1px solid #ddd !important; */
/*}*/

/*.fr-wrapper.show-placeholder .fr-placeholder {*/
/*height: 30px !important;*/
/*}*/

/*.promolist {}*/

/*.promolist .goalname { padding-right: 2em; }*/

/*.promolist .editbtn { cursor: pointer; font-size: 17px; }*/

#sitesettings {
  top: 40px;
  position: relative;
  margin-left: 260px;
}

.panel-custom {
  background: #F44336;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

.with-nav-tabs.panel-custom .nav-tabs > li > a,
.with-nav-tabs.panel-custom .nav-tabs > li > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > li > a:focus {
  color: #fff;
}

.with-nav-tabs.panel-custom .nav-tabs > .open > a,
.with-nav-tabs.panel-custom .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-custom .nav-tabs > li > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #F44336;
  border-color: transparent;
}

.with-nav-tabs.panel-custom .nav-tabs > li.active > a,
.with-nav-tabs.panel-custom .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > li.active > a:focus {
  color: #F44336;
  background-color: #fff;
  border-color: #F44336;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #F44336;
  border-color: #F44336;
}

.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #fff;
}

.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #F44336;
}

.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-custom .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  background-color: #F44336;
}

/*.hellobar-container{*/
/*top: 72px;*/
/*position: relative;*/
/*margin-left: 255px;*/
/*}*/

/*.panel-heading{*/
/*background-color: #2196F3;*/
/*}*/

/*.user-row {*/
/*margin-bottom: 14px;*/
/*}*/

/*.user-row:last-child {*/
/*margin-bottom: 0;*/
/*}*/

/*.dropdown-user {*/
/*margin: 13px 0;*/
/*padding: 5px;*/
/*height: 100%;*/
/*}*/

/*.dropdown-user:hover {*/
/*cursor: pointer;*/
/*}*/

/*.table-user-information > tbody > tr:first-child {*/
/*border-top: 0;*/
/*}*/

/*.table-user-information > tbody > tr > td {*/
/*border-top: 0;*/
/*}*/
/*.toppad*/
/*{*/
/*margin-top:20px;*/
/*}*/

/*!* switch class  *!*/
/*.switch {*/
/*position: relative;*/
/*display: inline-block;*/
/*width: 60px;*/
/*height: 28px;*/
/*}*/

/*!* Hide default HTML checkbox *!*/
/*.switch input {display:none;}*/

/*!* The slider *!*/
/*.slider {*/
/*position: absolute;*/
/*cursor: pointer;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*background-color: #5E35B1 !important;*/
/*-webkit-transition: .4s;*/
/*transition: .4s;*/
/*}*/

/*.slider:before {*/
/*position: absolute;*/
/*content: "";*/
/*height: 26px;*/
/*width: 26px;*/
/*left: 4px;*/
/*bottom: 4px;*/
/*background-color: white;*/
/*-webkit-transition: .4s;*/
/*transition: .4s;*/
/*}*/

/*input:checked + .slider {*/
/*background-color: #2196F3;*/
/*}*/

/*input:focus + .slider {*/
/*box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
/*-webkit-transform: translateX(26px);*/
/*-ms-transform: translateX(26px);*/
/*transform: translateX(26px);*/
/*}*/

/*!* Rounded sliders *!*/
/*.slider.round {*/
/*border-radius: 34px;*/
/*}*/

/*.slider.round:before {*/
/*border-radius: 50%;*/
/*}*/

/*.panel-title div{*/
/*color: #fff;*/
/*background: #F44336;*/
/*padding: 15px 15px;*/
/*}*/
/*.panel{*/
/*border: 1px solid #F44336 !important;*/
/*}*/

/*.form-control {*/
/*background-repeat: inherit;*/
/*}*/

/*.row {*/
/*padding: 5px 0px;*/
/*}*/

/*a[href$='https://froala.com/wysiwyg-editor'] {*/
/*display: none !important;*/
/*}*/

/*.fr-toolbar{*/
/*border-top: 1px solid #ddd !important; */
/*}*/

/*.fr-wrapper.show-placeholder .fr-placeholder {*/
/*height: 30px !important;*/
/*}*/

/*.promolist {}*/

/*.promolist .goalname { padding-right: 2em; }*/

/*.promolist .editbtn { cursor: pointer; font-size: 17px; }*/
.editbtn {
  vertical-align: middle;
  margin-left: 10px;
}


.table-str-outer{ float: left; width:100%;}
.table-str-outer .row-style{ float: left; width:100%; min-height: 40px; border-bottom: 1px solid #f2f2f2; }
.table-str-outer .row-style.head{ border: none; background: #888888; margin-top: 10px;}
.table-str-outer .row-style.head .col-style{ color: #fff; text-transform: uppercase; text-align: left;}
.table-str-outer .row-style .col-style{ float: left; width: 25%; color: #888888; font-size: 13px;  padding:15px 10px;}
.table-str-outer .row-style .col-style:nth-child(1){ width: 50px; text-align: center !important;}
.table-str-outer .row-style .col-style:nth-child(3){ width:40%;}
.table-str-outer .row-style .col-style a i{ font-size: 16px; color: #279ed6; margin:0 8px; float: left;}
.table-str-outer .row-style .col-style a:last-child i{color:#F44336; }
#autoLoginModal .modal-content.modal-bg{-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}
#autoLoginModal.modal .form-group{ margin-top: 10px;}
#autoLoginModal.modal .form-group:nth-child(1){ margin-top: 0px;}
#autoLoginModal.modal .modal-body{ padding:15px 25px;}
#autoLoginModal.modal .modal-dialog{ width: 500px;}
#autoLoginModal.modal .modal-header{color: #fb5f66;}
#autoLoginModal.modal .modal-header h5{ font-size: 20px; text-transform: uppercase;}
.token-outer{ float: left; width: 100%; min-height: 30px; padding: 10px 0; border-bottom:1px solid #e2e2e2;}
.token-outer span{ float: left; width:100%; font-size: 10px; color: #8e989f;text-transform: uppercase;}
.token-outer p{ float: left; width: 100%; font-size: 14px; color: #62696d; margin-bottom: 0;}
#autoLoginModal.modal .btn-red{ padding:7px 20px;}
.add-bth-outer{ float: left; width:100%;}
.add-bth-outer .btn-red{ padding:7px 20px 7px 35px; position: relative }
.add-bth-outer .btn-red i{font-size: 18px; position: absolute;left: 14px; top: 8px;}