.np {
    padding: 0px;
}

.model-full {
    width: 100%;
    margin: 0
}

.btn-red,
.modal,
.modal .form-control,
.modal .form-group label.control-label {
    font-family: montserratregular
}

.btn-red {
    color: #fff!important;
    background-color: #fb545b!important;
    border-color: #fb545b!important;
    border-radius: 0!important;
    font-size: 14px!important;
    padding: 7px 70px!important;
    margin-top: 25px!important;
    transition: all .3s ease 0s;
    margin-right: 0!important;
    font-weight: 400;
    text-transform: uppercase
}

.btn-red:active,
.btn-red:focus,
.btn-red:hover {
    color: #fff;
    background-color: #fb545b;
    border-color: #fb545b;
    box-shadow: none
}

.modal i.material-icons {
    font-size: 18px;
}

.modal button.close.btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
    opacity: .7;
    transition: all .3s ease 0s!important;
    color: #fff;
}

.modal .form-group.is-focused .form-control,
.my-profile .form-group.is-focused .form-control {
    -webkit-box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    outline: 0
}

.two-side .modal-left,
.two-side .modal-right {
    width: 50%;
    height: 100vh;
    display: table;
    float: left
}

.two-side .modal-left {
    padding: 0 170px
}

.two-side .modal-left p {
    font-size: 16px;
    font-family: montserratlight
}

.two-side .modal-right {
    background: #fb545b;
    padding: 30px
}

.two-side .modal-right p {
    color: #fff;
    font-size: 14px
}

.two-side .modal-right img {
    margin: 40px 0;
    width: 100%;
    box-shadow: 0 1px 27px 8px rgba(0, 0, 0, .7)
}

.two-side .modal-body {
    padding: 0
}

.two-side .modal-content {
    float: left;
    width: 100%;
    border-radius: 0;
    margin: 0;
    border: none
}

.two-side .table-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none
}

.two-side .premium-label {
    background: #fb545b;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    padding: 1px 17px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 30px
}

.two-side a {
    color: #fb545b;
    font-size: 12px
}

.two-side .btn-red {
    margin-bottom: 15px
}

#cardPlanModal.modal {
    padding: 0!important;
    z-index: 9999;
}
#slideshow {
    position: relative;
    width: 80%;
}

#slideshow > div {
  position: absolute;
  /*top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;*/
  overflow: hidden;
}
#slideshow img{
    max-width: 103%;
    float:left;
}


/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}*/



@media (max-width: 767px) {
    #cardPlanModal.two-side .modal-right{
        display: none;
    }

    .two-side .modal-left {
        width: 100%;
        padding: 0px;
    }

    .two-side .modal-left p{
        padding: 0px 60px;
    }

    .two-side .btn-red{
        padding: 7px 50px !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .two-side .modal-left{
        padding: 0 50px;
    }
}



/* new modal css start */
.rs-show{
    display: none;
}

.new-modal-top{
    display: table;
    height: 476px;
    width: 100%;
    background: #fb545b;
    color: #fff;
}
.new-modal-top-inner{
    /*display: table-cell;*/
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 35px;
}
.new-modal-top-container{
    margin: 0 auto;
    width: 80%;
}
.new-modal-left{
    float: left;
    /*width: 40%;*/
    position: relative;
    margin-top: 80px;
    padding: 0 7%;
    text-align: center;
}
.new-modal-left span.premiumlabel{
    /*background: #fff;
    border: 1px solid #fb545b;
    color: #fb545b;
    display: inline-block;
    font-size: 11px;
    padding: 1px 17px;
    border-radius: 12px;
    margin-top: 15px;*/
   /* margin-bottom: 30px;
    position: absolute;
    left: 43%;
    top: -30px;*/
}
.new-modal-left span.premiumlabel i{
    font-size: 32px;
}
.new-modal-text{
    float: left;
    width: 100%;
    text-align: center;
}
.new-modal-text span{
    display: inline;
    font-size: 24px;
}
.new-modal-text h3{
    display: inline-block;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-family: montserratregular;
}
.new-modal-paragraph{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: montserratlight;
    margin-top: 15px;
    margin-bottom: 30px;
}
.new-modal-upgrade{
    background: #fff;
    border: 2px solid #fff;
    color: #f8434b !important;
    float: none;
    display: inline-block;
    font-size: 14px;
    padding: 7px 40px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: -9px 9px 20px 0px rgba(0,0,0,0.45);
}
.new-modal-upgrade p{
    float: left;
    margin: 0 10px 0 0;
    line-height: 30px;
    font-size: 14px;
}
.new-modal-upgrade i{
    position: relative;
    top: 7px;
}
.new-modal-upgrade:hover{
    background: transparent;
    color: #fff !important;
}



.new-modal-right{
    float: left;
    /*width: 50%;*/
    /*margin-left: 9%;*/
}
.new-modal-right-imgoutr{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.new-modal-right-imgoutr .laptopjacket{
    float: left;
    max-width: 103%;
}

.new-modal-bot{
    width: 100%;
    background: #fff;
    min-height: 250px;
}
.new-modal-bot-container{
    margin: 0 auto;
    width: 80%;
}
.new-modal-bot-heading{
    font-size: 24px;
    color: #62696d;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}




.billing-plan-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    float: left;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px
}
.billing-plan-list ul {
    padding: 0;
    margin: 0
}
.billing-plan-list ul>li {
    display: table-cell;
    width: 1%
}
.billing-plan-list ul>li.active a {
    background: #f6f8f9!important;
    color: #fff
}
.billing-plan-list ul>li>a {
    color: #8e989f!important;
    font-size: 11px;
    text-transform: uppercase;
    border: none!important;
    border-right: 1px solid #ccc!important;
    border-radius: 0;
    background: 0 0;
    padding: 8px 0;
    line-height: 16px;
    text-align: center;
    display: block !important;
}
.billing-plan-list ul>li>a.hvr-sweep-to-right::before {
    background: #f6f8f9
}
.billing-plan-list ul>li:nth-child(1)>a {
    color: #8e989f;
    font-size: 11px;
    text-transform: uppercase;
    border: none!important;
    border-right: 1px solid #d7dbdd!important;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.billing-plan-list ul>li:nth-child(1)>a.hvr-sweep-to-right::before {
    background: #f6f8f9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.billing-plan-list ul>li:nth-child(2)>a {
    color: #8e989f;
    font-size: 11px;
    text-transform: uppercase;
    border: none!important;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.billing-plan-list ul>li:nth-child(2)>a.hvr-sweep-to-right::before {
    background: #f6f8f9
}
.billing-plan-list ul>li:nth-child(3)>a {
    color: #8e989f;
    font-size: 11px;
    text-transform: uppercase;
    border: none!important;
    border-left: 1px solid #d7dbdd!important;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}
.billing-plan-list ul>li:nth-child(3)>a.hvr-sweep-to-right::before {
    background: #f6f8f9;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}
.billing-table {
    float: left;
    width: 90%;
    margin-top: 30px;
    margin-left: 8%;
    margin-bottom: 70px;
}
.billing-white {
    background: #fff;
    /*box-shadow: 0px 0px 12px rgba(60,60,60,0.2);*/
    position: relative;
    top: 0px;
    display: block;
    /*width: 265px;*/
    z-index: 10 !important;
    /*width: 30%;*/
    /*padding-bottom: 1px;*/
    border-radius: 8px 8px 0px 0px;
    margin-right: 20px;
    border: 2px solid #00c853;
}
.billing-white-top {
    padding: 25px!important;
    /*border-bottom: 1px solid #e6e7e8;*/
    /*min-height: 363px;*/
    min-height: 160px;
    padding-bottom: 0px !important;
}
.billing-white-top h3.plan-title {
    color: #00c853;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: montserratlight;
}
.billing-white-top .border-center {
    border-bottom: 1px solid #e6e7e8;
    display: inline-block;
    width: 235px;
    position: relative;
    top: 0;
}
.billing-white-top h3.plan-price {
    color: #62696d;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;;
    min-height: 42px;
    display: inline-block;
}
.billing-white-top .mat-icon {
    float: none;
    width: auto
}
.billing-white-top .mat-icon .material-icons {
    font-size: 18px;
    color: #00c853;
    position: relative;
    top: 4px
}
.billing-white-top .current-plan {
    font-size: 12px;
    text-transform: uppercase;
    color: #00c853;
    font-family: montserratsemibold
}
.billing-white-top p {
    color: #62696d;
    font-size: 12px;
    line-height: 18px;
    font-family: montserratlight;
    float: left;
    padding: 15px 10px;
    margin: 0px;
    text-align: center;
    /*min-height: 167px;*/
    min-height: 90px;
    display: none;
}
.billing-white-bottom .btn-light-grey-outline {
    color: #62696d!important;
    background-color: #dae2e6;
    border-color: #dae2e6;
    border-radius: 6px;
    font-size: 11px;
    padding: 12px 20px;
    margin: 12px 0px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    width: 80%;
    cursor: default;
}
.billing-white-top .btn-light-grey-outline.hvr-sweep-to-right::before {
    background: #dae2e6;
    color: #62696d!important
}
.billing-white-top .btn-light-grey-outline.btn-light-grey-hover:hover {
    background: #dae2e6!important;
    color: #62696d!important;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}
.billing-white-bottom .btn-white-red-outline{
    color: #fff;
    background-color: #fb545b;
    border-color: #fb545b;
    border-radius: 6px;
    font-size: 11px;
    padding: 12px 20px;
    margin: 12px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    width: 80%;
}
.billing-white-bottom .btn-white-red-outline.hvr-sweep-to-right::before {
    background: #ffb5b8;
    color: #fb545b!important
}

.plan-price .strike-off {
    width: 100%;
    float: left;
}
.plan-price .actualPrice {
    width: 100%;
    float: left;
}



.billing-white-top .contact-pricing{
    color: #62696d;
}
.billing-white-bottom {
    padding: 5px 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.billing-white-bottom ul.billing-list {
    padding: 0;
    margin: 0
}
.billing-white-bottom ul.billing-list a {
    line-height: 32px
}
.billing-white-bottom .billing-list .mat-icon {
    float: left;
    width: auto
}
.billing-white-bottom .billing-list .mat-icon:after {
    font-family: "Material Icons";
    content: "panorama_fish_eye";
    color: #b1b5b6;
    font-size: 12px;
    display: inline-block;
    float: left;
    text-rendering: optimizeLegibility
}
.billing-white-bottom .billing-list .list-name {
    font-size: 14px;
    color: #62696d;
    font-family: montserratlight;
    padding-left: 10px;
}
.billing-white-bottom .billing-list .activegreen .mat-icon:after {
    font-family: "Material Icons";
    content: "check_circle";
    color: #fff;
    font-size: 18px;
    display: inline-block;
    float: left;
    text-rendering: optimizeLegibility
}
.billing-white-bottom .billing-list .activegreen .list-name {
    font-size: 12px;
    color: #fff;
    font-family: montserratlight;
    padding-left: 10px;
    text-transform: capitalize
}
.billing-white-bottom .billing-list .unselected .mat-icon:after {
    font-family: "Material Icons";
    content: "cancel";
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    float: left
}
.billing-white-bottom .billing-list .unselected .list-name {
    font-size: 14px;
    color: #ccc;
    font-family: montserratregular;
    padding-left: 5px;
    text-decoration: line-through
}
.billing-grey {
    background: #fff;
    /*box-shadow: 16px 10px 30px rgba(0,0,0,0.18);*/
    /*box-shadow: 0px 0px 12px rgba(60,60,60,0.2);*/
    /*width: 265px;*/
    /*width: 30%;*/
    margin-right:  20px;
}
.billing-grey-top {
    padding: 25px!important;
    /*border-bottom: 1px solid #e6e7e8;*/
    background: #fff;
    min-height: 160px;
    border-radius: 8px 8px 0px 0px;
    padding-bottom: 0px !important;
}
.billing-grey-top h3.plan-title {
    color: #62696d;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: montserratlight;
}
.billing-grey-top h4.plan-title-cycle {
    color: #62696d;
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 7px;
    font-family: montserratlight;
}
.billing-white-top h4.plan-title-cycle {
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    color: #62696d;
    margin-bottom: 7px;
    font-family: montserratlight;
}
.billing-grey-top .strike-price {
    font-size: 13px;
    color: #62696d;
    opacity: .5;
    margin-bottom: 7px;
    font-family: montserratlight;
}
.billing-white-top .strike-price {
    font-size: 13px;
    opacity: .5;
    margin-bottom: 7px;
    font-family: montserratlight;
}
.billing-grey-top .border-center {
    border-bottom: 1px solid #e6e7e8;
    display: inline-block;
    width: 235px;
    position: relative;
    top: 0;
}
.billing-grey-top h3.plan-price {
    color: #62696d;
    font-size: 24px;
    margin-top: 20px;
    word-wrap: break-word;
    margin-bottom: 0;
    min-height: 48px;
    display: inline-block;
}
.billing-grey-top .mat-icon {
    float: none;
    width: auto
}
.billing-grey-top .mat-icon .material-icons {
    font-size: 18px;
    color: #00c853;
    position: relative;
    top: 4px
}
.billing-grey-top .paid-yearly {
    font-size: 12px;
    color: #fff;
    font-family: montserratregular
}
.billing-grey-top .custom-price {
    font-size: 14px;
    color: #fff;
    font-family: montserratregular;
    text-transform: uppercase
}
.billing-grey-top h3.blank {
    min-height: 0;
    margin-top: 16px
}
.billing-grey-top p {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-family: montserratlight;
    float: left;
    padding: 15px 10px;
    margin: 0px;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    /*min-height: 200px;
    min-height: 170px;*/
    min-height: 90px;
    display: none;
}
.billing-grey-bottom .btn-white-red-outline {
    color: #fff;
    background-color: #fb545b;
    border-color: #fb545b;
    border-radius: 6px;
    font-size: 11px;
    padding: 12px 20px;
    margin: 12px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: montserratregular;
    text-transform: uppercase;
    width: 80%;
}
.billing-grey-bottom .btn-white-red-outline.hvr-sweep-to-right::before {
    background: #ffb5b8;
    color: #fb545b!important
}
.billing-grey-top .btn-try-it {
    padding: 6px 35px
}
.billing-grey-top .btn-upgrade {
    padding: 6px 25px;
    /*margin-left: 10px*/
}
span.plan-act {
    color: #fff;
    font-size: 12px
}
.billing-grey-bottom {
    padding: 5px 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #fff;
}
.billing-grey-bottom ul.billing-list {
    padding: 0;
    margin: 0
}
.billing-grey-bottom ul.billing-list a {
    line-height: 32px;
    cursor: text;
}
.billing-grey-bottom .billing-list .mat-icon {
    float: left;
    width: auto
}
.billing-grey-bottom .billing-list .mat-icon:after {
    font-family: "Material Icons";
    content: "panorama_fish_eye";
    color: #b1b5b6;
    font-size: 12px;
    display: inline-block;
    float: left;
    text-rendering: optimizeLegibility
}
.billing-grey-bottom .billing-list .activegreen .mat-icon:after {
    font-family: "Material Icons";
    content: "check_circle";
    color: #fff !important;
    font-size: 18px;
    display: inline-block;
    float: left;
    text-rendering: optimizeLegibility
}
.billing-grey-bottom .billing-list .activegreen .list-name {
    font-size: 12px;
    color: #fff !important;
    font-family: montserratlight;
    padding-left: 10px;
    text-transform: capitalize
}
.billing-grey-bottom .billing-list .list-name {
    font-size: 14px;
    color: #62696d;
    font-family: montserratlight;
    padding-left: 10px;
}
.billing-grey-bottom .billing-list .unselected .mat-icon:after {
    font-family: "Material Icons";
    content: "cancel";
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    float: left;
    text-rendering: optimizeLegibility
}
.billing-grey-bottom .billing-list .unselected .list-name {
    font-size: 14px;
    color: #ccc;
    font-family: montserratregular;
    padding-left: 5px;
    text-decoration: line-through;
    text-transform: capitalize
}
.starter-box {
    z-index:1;
    position: relative;
    /*box-shadow: 0 0 19px rgba(60, 60, 60, .29);*/
    /*box-shadow: 0px 0px 12px rgba(60,60,60,0.2);*/
}
.current-plan-outer{
    min-height: 29px;
}
.business-box {
    z-index: 1;
    position: relative
}
.billing-grey-top.business-box-xshadow {
    /*box-shadow: inset 16px 0 30px rgba(0, 0, 0, .18)*/
}
.enterprise-box .ribbon,.business-box .ribbon, .essentials-box .ribbon {
    position: absolute;
    width: 100px;
    font-size: 10px;
    padding: 3px 5px;
    color: #fff;
    background-color: #fb545b;
    text-transform: uppercase;
    top: -5px;
    right: -7px
}
.enterprise-box .ribbon:before,.business-box .ribbon:before, .essentials-box .ribbon:before  {
    right: 0;
    border-width: 7px 7px 0 0;
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #fb545b transparent transparent;
    bottom: -7px
}
.enterprise-box .ribbon:after,.business-box .ribbon:after, .essentials-box .ribbon:after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 0;
    left: -10px;
    top: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fb545b #fb545b #fb545b transparent
}
.enterprise-box , .essentials-box{
    z-index: 0;
    position: relative
}
.selected-plan {
    z-index: 1 !important;
    /*box-shadow: 0px 0px 12px rgba(60,60,60,0.2);*/
}
.cancel-member {
    color: #fb545b;
    font-size: 11px;
    text-transform: uppercase;
    border-top: 1px solid #dae2e6;
    width: 100%;
    float: left;
    padding-top: 32px;
    margin-top: 10px;
    text-align: right
}
.cancel-member span {
    border: 1px solid #dae2e6;
    padding: 6px 8px;
    color: #62696d;
    transition: all .5s ease
}
.cancel-member span:hover {
    background: #fdb6b9;
    color: #fb545b;
    border-color: #fdb6b9
}
.cancel-member:hover {
    color: #fa5282
}
.billing-plans-help {
    font-size: 10px;
    color: #8e989f
}
.actual-price {
    font-size: 24px;
    display: block
}
.billingpricing-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px
}
.billingpricing-text i {
    font-size: 54px;
    color: rgba(251, 108, 115, .8)
}
.billingpricing-text h4 {
    font-size: 22px;
    color: #8e989f;
    margin-bottom: 10px
}
.billingpricing-text p {
    font-family: montserratregular;
    color: #8e989f;
    font-size: 14px
}
.billingpricing-text p a {
    color: #fb545b
}
.billingpricing-text p a:hover {
    color: #fa5282
}
.billing-plan-list {
    width: 50%
}
.billing-white {
    width: 290px;
}
.billing-grey {
    width: 290px;
    /*box-shadow: 0 0 19px rgba(60, 60, 60, .29);*/
    border-radius: 8px 8px 0px 0px;
    border: 2px solid #ccc;
}
.billing-grey-top .btn-try-it {
    padding: 6px 30px
}
.billing-grey-top .btn-upgrade {
    padding: 6px 20px;
    margin-left: 10px
}
.billing-table li {
    list-style-type: none;
    padding: 0 25px;
}
.billing-table li.activegreen {
    background: #00c853;
}
.wrap-cancelledPlan .tab-content {
    margin-left: 0px !important;
    width: 100% !important;
    padding-left: 0px !important;
}
.ripple-container,
.toggle-dots-grey,
.toggle-dots-white {
    display: none
}
.strike-off{
    text-decoration:line-through;
}
.btn-disable{
    pointer-events: none;
    cursor: default;
}
/* start: freelancer box under pricing table (updated by 30nov) */
    .freelancer-box {
        z-index: 1;
        position: relative;
        box-shadow: 0px 0px 12px rgba(60,60,60,0.2);
    }

/* end: freelancer box under pricing table (updated by 30nov) */


/* start: enterprise box under pricing table (updated by 1dec) */

    .enterprise-box-new , .essentials-box-new {
        background: #62696d;
        padding: 35px 35px 30px !important;
    }

    .enterprise-box-new h2.title , .essentials-box-new h2.title{
        font-family: montserratregular;
        color: #fff;
        font-size: 30px;
        margin: 0;
    }

    .enterprise-box-new span.sub-title, .essentials-box-new span.sub-title {
        font-size: 14px;
        color: #fff;
        font-family: montserratregular;
        text-transform: uppercase;
        display: block;
        padding-top: 10px;
    }

    .enterprise-box-new span.border-center, .essentials-box-new span.border-center {
        border-bottom: 2px solid #fb545b;
        display: inline-block;
        width: 28px;
        position: relative;
        top: -5px;
        margin-right: 8px;
    }

    .membership-bottom-wrapper .enterprise-box-new p, .membership-bottom-wrapper .essentials-box-new p {
        color: rgba(255,255,255,0.5);
        font-size: 12px;
        font-family: montserratregular;
        padding: 10px 190px;
        line-height: 18px;
        text-align: center;
    }

    .enterprise-box-new .btn-white-red-outline, .essentials-box-new .btn-white-red-outline {
        color: #fff;
        background-color: #fb545b;
        border-color: #ffb5b8;
        border-radius: 0;
        font-size: 11px;
        padding: 6px 20px;
        margin: 0px;
        transition: all 0.3s ease 0s;
        font-family: montserratregular;
        text-transform: uppercase;
        float: none;
    }

    .need-custom-plan {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .need-custom-plan a{
        color: #62696d;
        font-size: 18px;
        font-family: montserratregular;
        text-transform: uppercase;
    }

    .need-custom-plan i.material-icons{
        color: #62696d;
        font-size: 48px;
        position: relative;
        top: 15px;
    }

    #couponInput{
      text-transform: uppercase;
      padding-top: 10px;
    }

    #imgLoad{
      display: block;
      margin: 0 auto;
    }
/* end: enterprise box under pricing table (updated by 1dec) */

.acc-approved{
  font-size: 12px;
  color: #62696d;
  margin-bottom: 10px;
  font-family: montserratregular;
}
.current-plan-span {
    font-size:12px;
    font-family:montserratbold;
}

@media (max-width: 767px) {
    .rs-hide {
        display: none
    }
    .billing-grey-top {
        border-bottom: 1px solid #959c9f;
    }
    .billing-grey-top.business-box-xshadow {
        box-shadow: none
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .rs-show{
        display: block;
    }
    #slideshow {
        width: 100%;
    }
    .billing-grey,
    .billing-white {
        box-shadow: 0 0 7px 5px rgba(0, 0, 0, .18);
        width: 100%
    }
    .billing-grey {
        margin-bottom: 30px;
        margin-left: 0
    }
    .billing-white {
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 0;
        padding-bottom: 0
    }
    .enterprise-box-new p, .essentials-box-new p{
        padding: 10px 0px !important;
    }
    .billing-grey-top{
        min-height: auto !important;
    }
    .billing-grey-top p{
        min-height: auto !important;
    }
    .billing-white-top{
        min-height: auto !important;
    }
    .billing-white-top p{
        min-height: auto !important;
    }
    .toggle-dots-white {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background: rgba(98, 105, 109, .8);
        float: left;
        text-align: center;
    }
    .toggle-dots-grey {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #f2f2f2;
        float: left;
        text-align: center;
    }
    .toggle-dots-grey div, .toggle-dots-white div {
        font-size: 13px;
        color: #fff;
        height: 30px;
        font-family: montserratregular;
    }
    .toggle-dots-white div i.material-icons {
        position: relative;
        top: 5px;
        color: #fff;
        vertical-align: middle;
    }
    .toggle-dots-white div p.more-info {
        position: relative;
        top: 5px;
        margin-bottom: 0;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
    }
    .toggle-dots-grey div i.material-icons {
        position: relative;
        top: 5px;
        color: #62696d;
        vertical-align: middle;
    }
    .toggle-dots-grey div p.more-info {
        position: relative;
        top: 5px;
        margin-bottom: 0;
        color: #62696d;
        display: inline-block;
        vertical-align: middle;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .billing-plan-list {
        width: 100%
    }
    .billing-grey-top.business-box-xshadow {
        box-shadow: none
    }
}
@media screen and (min-width: 1680px) and (max-width: 1680px) {
    .billing-table {
        margin-left: 0
    }
}
@media (min-width: 1920px) {
    /*.billing-grey-top h3.plan-price {
        margin: 20px 0 15px
    }
    .billing-white-top h3.plan-price {
        margin: 20px 0 15px;
    }*/
    .billing-table{
        margin-left: 23%;
    }
    /*.new-modal-top-container{
        width: 60%;
    }*/
}
@media (max-width: 1900px) {
    .modal .form-group.label-floating.is-focused label.control-label,
    .modal .form-group.label-floating:not(.is-empty) label.control-label,
    .sahil-material .form-group.label-floating.is-focused label.control-label,
    .sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
        font-size: 10px!important
    }
}
 @media (max-width: 1366px) {
    .billing-grey-top h3.plan-title {
        font-size: 20px
    }
    .actual-price {
        font-size: 24px
    }
    .billing-grey-bottom .billing-list .list-name,
    .billing-grey-bottom .billing-list .unselected .list-name {
        font-size: 13px
    }
    .billing-white-bottom .billing-list .list-name,
    .billing-white-bottom .billing-list .unselected .list-name {
        font-size: 13px
    }
    .billing-white-top h3.plan-title {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .billing-plan-list {
        width: 100%
    }
    .billing-white {
        width: 270px;
        margin-left: 15px
    }
    .billing-grey {
        width: 270px;
        box-shadow: 0 0 19px rgba(60, 60, 60, .29);
        margin-left: 10px
    }
    .billing-grey-top .btn-try-it {
        padding: 6px 30px
    }
    .billing-grey-top .btn-upgrade {
        padding: 6px 20px;
        margin-left: 10px
    }
    .float-down-arrow-mobile {
        display: block
    }
    .billing-white-top .float-down-arrow-mobile {
        display: block;
        height: 0
    }
    .billing-white-top .float-down-arrow-mobile .mat-icon .material-icons {
        color: #62696d;
        font-size: 24px;
        position: relative;
        top: 0;
        cursor: pointer
    }
    .billing-grey-top .float-down-arrow-mobile {
        display: block;
        height: 20px
    }
    .billing-grey-top .float-down-arrow-mobile .mat-icon .material-icons {
        color: #fff;
        font-size: 24px;
        position: relative;
        top: 18px;
        cursor: pointer
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .rs-hide{
        display: none;
    }
    .new-modal-top{
        padding-bottom: 40px;
    }
    .new-modal-top-container{
        width: 100%;
    }
    .new-modal-right-imgoutr-res{
        float: left;
        width: 100%;
        margin-top: 50px;
    }
    .laptopjacket{
        width: 100%;
    }
    .new-modal-left{
        margin-top: 30px;
        padding: 0 5%;
        text-align: center;
    }
    .billing-grey,
    .billing-white {
        box-shadow: 0 0 7px 5px rgba(0, 0, 0, .18);
        width: 100%
    }
    .billing-table {
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
    .billing-grey {
        margin-bottom: 30px;
        margin-left: 0
    }
    .billing-white {
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 0;
        padding-bottom: 0
    }
    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden
    }
    .wrapper-content.cancelled-setting {
        padding-left: 0px !important;
    }
    .wrapper-content.plan-cancelled-tabs {
        display: block !important;
        top: 0px !important;
        position: absolute;
    }
    .toggle-dots-white, .toggle-dots-grey{
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .billing-plan-list {
        width: 100%
    }
    .billing-grey-top.business-box-xshadow {
        box-shadow: none
    }
}
@media screen and (min-width: 1024px) and (max-width: 1024px){
    #slideshow{
        width: 100%;
    }
    .new-modal-left{
        margin-top: 70px;
    }
    .new-modal-bot-container{
        width: 90%;
    }
    .billing-plan-list {
        width: 80% !important;
        margin-left: 10%;
    }

    .billing-table {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
    }

    .billing-grey {
        width: 300px;
        margin-left: 0;
        box-shadow: 0px 0px 19px rgba(60,60,60,0.29);
        margin-bottom: 30px;
    }

    .billing-white {
        width: 300px;
        margin-left: 0;
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    .toggle-dots-white{
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        /*background:#62696d; */
        background: rgba(98, 105, 109, 0.8);
    }

    .toggle-dots-white span{
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background:#fff;
    }

    .toggle-dots-white2{
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background:#62696d;
    }

    .toggle-dots-white2 span{
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background:#fff;
    }

    .toggle-dots-grey {
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        /*background: #fff;*/
        /*border-top: 1px solid #e6e7e8;*/
        background: #f2f2f2;
    }

    .toggle-dots-grey span {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: rgba(251,108,115,0.8);
    }



    .billing-grey-top {
        border-bottom: 1px solid #777;
    }

    .billing-grey-top.business-box-xshadow {
        box-shadow: none !important;
    }
    .billing-grey-top{
        /*min-height: auto !important;*/
    }
    .billing-grey-top p{
        /*min-height: auto !important;*/
    }
    .billing-white-top{
        /*min-height: auto !important;*/
    }
    .billing-white-top p{
        /*min-height: auto !important;*/
    }

    .billing-grey-top {
        border-bottom: 1px solid #959c9f !important;
    }

    .billing-grey-top.business-box-xshadow {
        box-shadow: none;
    }
    .toggle-dots-white{
        display: none;
    }

    .toggle-dots-grey{
        display: none;
    }

    .toggle-dots-white div{
        font-size: 13px;
        color: #fff;
        height: 30px;
        font-family: montserratregular;
    }

    .toggle-dots-white div i.material-icons {
        position: relative;
        top: 3px;
    }

    .toggle-dots-white div p.more-info {
        position: relative;
        top: -5px;
        margin-bottom: 0px;
        color: #fff;
        display: inline-block;
    }

    .toggle-dots-grey div{
        font-size: 13px;
        color: #fff;
        height: 30px;
        font-family: montserratregular;
    }

    .toggle-dots-grey div i.material-icons {
        position: relative;
        top: 3px;
        color: #62696d;
    }

    .toggle-dots-grey div p.more-info {
        position: relative;
        top: -5px;
        margin-bottom: 0px;
        color: #62696d;
        display: inline-block;
    }
    .freelancer-box{
        margin-bottom: 30px;
    }
    .membership-details .btn-red-outline{
        margin: 20px 0 20px !important;
    }

}
@media (min-width:1025px) and (max-width:1199px){
    #slideshow{
        width: 100%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1280px){
    .billing-grey-top h3.plan-title {
        font-size: 20px;
    }
    .billing-table{
        width: 100%;
        margin-left: 5%;
    }
    .new-modal-left{
        margin-top: 60px;
    }
    #slideshow{
        width: 90%;
    }

}
@media screen and (min-width: 1600px) and (max-width: 1680px){
     .billing-table{
        margin-left: 17%;
    }
}
@media screen and (min-width: 1680px) and (max-width: 1920px){
     #slideshow{
        width: 65%;
    }
    .billing-table{
        margin-left: 18%;
    }
    .new-modal-left{
        margin-top: 120px;
    }
    .billing-grey{
        width: 310px;
    }
    .billing-white{
        width: 310px;
    }
}


/* Start: Upgrade Plan Modal */
#plan-popup .modal-content {
  border-radius: 8px;
  float: left;
  width: 100%;
}

#plan-popup {
  /*z-index: 9999;*/
}

#plan-popup .modal-header {
  padding: 10px 17px;
  border-bottom: none;
  background: #fb6066;
  border-radius: 7px 7px 0px 0px;
}


#plan-popup.modal button.close.btn-close {
  text-shadow: none;
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 9;
  opacity: 1;
  transition: all 0.3s ease 0s !important;
}

#plan-popup.modal button.close.btn-help {
  text-shadow: none;
  position: absolute;
  right: 40px;
  top: 11px;
  z-index: 9;
  opacity: 1;
  transition: all 0.3s ease 0s !important;
}

#plan-popup.modal i.material-icons {
  font-size: 16px;
  color: #fff;
}

#plan-popup.modal button.close.btn-help i.material-icons {
  font-size: 14px;
  color: #fff;
}

#plan-popup .modal-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

#plan-popup.modal .modal-body {
  padding: 20px;
  height: 445px;
}

#plan-popup .btn-red-outline {
  color: #fb545b;
  background-color: #fff;
  border-color: #ffb5b8;
  border-radius: 0;
  font-size: 11px;
  padding: 7px 20px;
  margin: 60px 0px 0px;
  transition: all 0.3s ease 0s;
  font-family: montserratregular;
  text-transform: uppercase;
  float: right;
}

#plan-popup.modal .btn-red-outline.hvr-sweep-to-right::before {
  background: #ffb5b8 none repeat scroll 0 0;
  color: #fff !important;
}

#plan-popup.modal .btn-red-outline.hvr-sweep-to-right:hover{
  color: #fff !important;
}

#plan-popup.modal .btn-red-outline.hvr-sweep-to-right:focus,
#plan-popup.modal .btn-red-outline.hvr-sweep-to-right:active {
  color: #fff !important;
  background: #ffb5b8 none repeat scroll 0 0 !important;
}

#plan-popup.modal .form-group {
  padding-bottom: 7px;
  margin: 12px 0 0px 0;
  clear: none;
}

#plan-popup.modal .form-group label.control-label.label-filled {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  margin: 0;
  font-family: montserratlight;
  float: left;
  /*width: 25%;*/
}

#plan-popup.modal .form-group .form-control.input-filled {
  height: 14px;
  padding: 0px;
  font-size: 13px;
  line-height: 12px;
  font-family: montserratregular;
  color: #666666;
  background: none;
  float: left;
  width: 58%;
  padding-right: 15px;
}

#plan-popup.modal span.coloumn{
  line-height: 10px;
  font-size: 14px;
  color: #666;
  float: left;
  width: 8%;
}

#plan-popup .modal-footer {
  padding: 0px 22px 20px;
  text-align: right;
  border-top: none;
}

#plan-popup.modal .form-group.form-group-radio {
  float: left;
  width: auto;
  margin-top: 18px;
}

#plan-popup .footer-text{
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
  line-height: 14px;
  float:left;
  width: 80%;
  font-family: montserratlight;
  color: #333;
}

#plan-popup.modal .alert-info {
  color: #62696d;
  background-color: #eceff0;
  border-color: #eceff0;
  border-radius: 0px;
  font-size: 12px;
  font-family: montserratlight;
  line-height: 20px;
  padding: 15px 20px;
}

#plan-popup.modal .alert-info p {
  margin: 0;
}

#plan-popup.modal button#btnCoupon {
  font-size: 11px;
  color: #fb545b;
  border-radius: 0px;
  margin-left: 25px;
  text-transform: uppercase;
  border: 1px solid #fb545b;
  opacity: 1;
  padding: 4px 12px;
  margin-top: 5px;
}

#plan-popup.modal .upgrade-tabs-wrapper {
  padding: 0px;
}

#plan-popup.modal .nav-tabs.nav-justified {
  margin-top: 20px;
}

#plan-popup.modal .tab-content {
  padding: 25px 5px;
}

#plan-popup.modal .tab-content .tab-pane h5.title {
  font-size: 16px;
  color: #62696d;
  font-family: montserratregular;
  text-transform: none;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 12px;
  float: left;
  width: 100%;
}

#plan-popup.modal .tab-content .tab-pane h6.title {
  font-size: 13px;
  color: #62696d;
  font-family: montserratregular;
  text-transform: none;
  font-weight: normal;
  margin-top: 0px;
}

#plan-popup.modal .tab-content .tab-pane span p {
  font-size: 12px;
  color: #62696d;
  font-family: montserratlight;
  margin-bottom: 0px;
  line-height: 18px;
  float: left;
  width: 100%;
}

#plan-popup.modal .tab-content .tab-pane span p.tiny-text {
  padding-top: 26px !important;
}

#plan-popup.modal .tab-content .tab-pane#tab_default_2 span p {
  padding-bottom: 10px;
}

#plan-popup.modal .tab-content .tab-pane span.upgrade-plan-left {
  font-size: 12px;
  color: #62696d;
  font-family: montserratlight;
  line-height: 26px;
}

#plan-popup.modal .tab-content .tab-pane span.upgrade-plan-right {
  font-size: 12px;
  color: #62696d;
  font-family: montserratregular;
  line-height: 26px;
}

#plan-popup.modal .tab-content .tab-pane p.tiny-text{
  font-size: 10px !important;
  color: #62696d;
  font-family: montserratlight;
  padding-top: 10px;
  float: left;
  width: 100%;
  padding-top: 26px;
}

#couponFormDiv .control-label {
  font-size: 13px;
  width: 100%;
  border: none;
  z-index: 9;
}
#couponForm span.input-group-btn {
    z-index: 9;
}

#couponFormDiv input {
  height: 36px;
}

#plan-popup.modal span.minus {
  float: left;
  position: relative;
  left: -10px;
  top: 0px;
  width: 1px;
}

/* Start: new changes */
.subscription-changes-panel {
  float: left;
  width: 100%;
}

.subscription-changes-panel h6.title {
  font-size: 16px;
  color: #62696d;
  font-family: montserratregular;
  margin-top: 0px;
}

.subscription-changes-panel .sub-title{
  font-size: 12px;
  color: #62696d;
  font-family: montserratlight;
}

.subscription-changes-panel .subs-detail {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subscription-changes-panel .subs-detail .subs-label {
  font-size: 12px;
  color: #666666;
  font-family: montserratlight;
  margin-bottom: 10px;
}

.subscription-changes-panel .subs-detail .subs-filled {
  font-size: 13px;
  color: #666666;
  font-family: montserratregular;
  padding-right: 5px;
}

.current-payment-details-panel {
  float: left;
  width: 100%;
}

.current-payment-details-panel h6.title-bg {
  background: rgba(189, 197, 200, 0.4);
  /*min-height: 28px;*/
  font-size: 14px;
  color: #61686e;
  font-family: montserratregular;
  padding: 5px 7px 7px;
}

.current-payment-details-panel .title-bg i.material-icons {
  font-size: 14px !important;
  color: #61686e !important;
  position: relative;
  top: 2px;
}

.current-payment-details-panel .sub-title{
  font-size: 12px;
  color: #62696d;
  font-family: montserratlight;
}

.current-payment-details-panel .current-payment-detail {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.current-payment-details-panel .current-payment-detail span.upgrade-plan-left {
  font-size: 12px;
  color: #666666;
  font-family: montserratlight;
  margin-bottom: 12px;
}

.current-payment-details-panel .current-payment-detail span.upgrade-plan-right {
  font-size: 13px;
  color: #666666;
  font-family: montserratregular;
  margin-bottom: 12px;
}

.coupon-applied {
  margin-top: 15px;
  margin-bottom: 15px;
}

.coupon-applied span.title {
  font-size: 12px;
  color: #8e989f;
  font-family: montserratregular;
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

#plan-popup .coupon-applied .btn-red-outline {
  color: #fb545b;
  background-color: #fff;
  border-color: #fb545b;
  border-radius: 0;
  font-size: 11px;
  padding: 4px 20px;
  margin: 0;
  transition: all 0.3s ease 0s;
  font-family: montserratregular;
  text-transform: uppercase;
  float: left;
}

#plan-popup .coupon-applied .btn-red-outline i.material-icons {
  color: #fb545b !important;
  font-size: 12px !important;
  position: relative;
  top: 2px;
  margin-left: 15px;
}

.btn-margin{
  margin: 0px !important;
}

#couponFormDiv .control-label {
  font-size: 13px;
}

#couponFormDiv input {
  height: 36px;
}
.coupon-applied {
  margin-top: 15px;
  margin-bottom: 15px;
}

.coupon-applied span.title {
  font-size: 12px;
  color: #8e989f;
  font-family: montserratregular;
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}
/* End: new changes */
/* End: Upgrade Plan Modal */

@media screen and (min-width: 640px) and (max-width: 640px) {
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 165px !important;
  }
  .cc-modal.modal .alert.alert-danger.custom-danger {
    top: 110px !important;
    left: 75px !important;
    width: 470px !important;
  }
}
@media (min-width: 1920px) {
  #payment-popup .modal-content.modal-content-cvv {
    top: 30%!important
  }
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 195px !important;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1280px) {
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 125px !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1440px) {
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 155px !important;
  }
}
@media screen and (min-width: 1536px) and (max-width: 1536px) {
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 440px !important;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1680px) {
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 190px !important;
  }
}
@media (min-width: 1920px) {
  #cc-modal .modal-content.modal-content-cvv {
    top: 30%!important
  }
  .cc-modal.modal .alert.alert-danger.custom-danger{
    top: 195px !important;
  }
}
.cc-modal-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  margin-top: 56px;
  background: rgba(0, 0, 0, .99);
  filter: alpha(opacity=50);
  opacity: .5
}

.cc-modal .modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}
.cc-modal .modal-header {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding-top: 3px
}
.cc-modal .modal-body {
  position: relative;
  padding: 0;
  float: left;
  width: 100%
}
.cc-modal .modal-body .form-wrapper {
  float: left;
  width: 100%;
  margin-top: 25px
}
.cc-modal .modal-content.modal-content-credit {
  background-image: url(../../../../assets/images/og-trans.png);
  background-color: #fb545b;
  background-repeat: no-repeat;
  background-position: -60px -75px;
  padding: 20px 25px 25px;
  width: 360px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
  border: none;
  position: absolute;
  top: 25%;
  left: 12%;
  z-index: 1;
  border-radius: 6px;
}
.cc-modal .modal-content.modal-content-cvv {
  background: #bec5c9;
  width: 360px;
  min-height: 203px;
  box-shadow: none;
  border: none;
  position: absolute;
  top: 32%;
  right: 70px;
  z-index: 0;
  border-radius: 6px;
}
.cc-modal .credit-sec {
  margin-top: 25px
}
.cc-modal input.cc-number {
  background: #fff;
  border: none;
  border-radius: 3px;
  min-height: 34px;
  font-size: 14px;
  font-family: montserratsemibold;
  letter-spacing: 2px;
  min-width: 67px;
  text-align: center;
  color: #fb545b!important;
  margin-right: 9px
}
.cc-modal input.cc-number.cc-number-last {
  margin-right: 0!important
}
.cc-modal .validity-sec {
  margin: 10px 0 5px
}
.cc-modal .validity-sec .val-text {
  font-size: 12px;
  color: #f6f8f9;
  font-family: verdana
}
.cc-modal .validity-sec input.cc-exp {
  background: 0 0;
  border: none;
  font-size: 14px;
  font-family: montserratsemibold;
  letter-spacing: 2px;
  width: 30px;
  text-align: center;
  color: #fff;
  margin-right: 5px
}
.cc-modal .cvv-number,
.cc-modal .name-sec input.cc-name {
  font-family: montserratregular;
  letter-spacing: 1px;
  font-size: 14px
}
.cc-modal .validity-sec input.cc-exp.cc-exp-last {
  margin-right: 0!important;
  margin-left: 5px;
  width: 50px
}
.cc-modal .name-sec input.cc-name {
  background: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  text-align: left;
  color: #fb545b!important;
  width: 228px
}
.cc-modal.modal .separator {
  font-size: 14px;
  color: #fff
}
.cc-modal .validity-sec input.cc-exp::-webkit-input-placeholder {
  color: #fff
}
.cc-modal .validity-sec input.cc-exp::-moz-placeholder {
  color: #fff
}
.cc-modal .validity-sec input.cc-exp:-ms-input-placeholder {
  color: #fff
}
.cc-modal.modal .grey-bg {
  background: #62696d;
  min-height: 40px;
  float: left;
  width: 100%;
  margin: 40px 0 25px
}
.cc-modal .cvv-number {
  background: #fff;
  border: none;
  border-radius: 3px;
  min-height: 34px;
  text-align: center;
  color: #62696d!important;
  float: right;
  margin-right: 15px;
  width: 70px
}
.cc-modal .cvv-text {
  font-size: 14px;
  color: #eceff0;
  font-family: montserratsemibold;
  text-transform: uppercase;
  float: right;
  width: 100%;
  text-align: right;
  margin-right: 32px;
  letter-spacing: 2px;
  padding-top: 2px
}
.cc-modal.modal button.close.btn-close {
  position: absolute;
  right: -110px;
  top: 0;
  z-index: 9;
  opacity: 1;
  transition: all .3s ease 0s!important;
  padding: 2px 10px;
  background: #fff;
  border-radius: 25px;
  font-size: 10px;
  font-family: montserratsemibold;
  text-transform: uppercase;
  line-height: 18px;
  vertical-align: middle;
  color: #fb5d63
}
.cc-modal.modal button.close.btn-close i.material-icons {
  font-size: 12px;
  color: #fb5d63;
  padding-left: 5px;
  position: relative;
  top: 3px
}
.cc-modal.modal .btn-red-outline {
  color: #fb545b;
  background-color: #fff;
  border-color: #ffb5b8;
  border-radius: 0;
  font-size: 11px;
  padding: 6px 30px;
  margin: 20px 0;
  transition: all .3s ease 0s;
  font-family: montserratregular;
  text-transform: uppercase;
  position: absolute!important;
  bottom: -70px;
  right: 0;
  opacity: 1
}
.cc-modal.modal input.cc-exp:focus,
.cc-modal.modal input.cc-name:focus,
.cc-modal.modal input.cc-number:focus,
.cc-modal.modal input.cvv-number:focus {
  outline: -webkit-focus-ring-color auto 0
}
/*.cc-modal.modal .alert.alert-danger.custom-danger {
    background: #feddde!important;
    border-radius: 0;
    min-height: 32px;
    position: relative;
    top: -260px;
    padding: 9px 10px;
    width: 460px;
    left: -98px
}*/
.cc-modal.modal .alert.alert-danger.custom-danger {
  background: #feddde!important;
  border-radius: 0;
  min-height: 32px;
  position: relative;
  top: 95px;
  padding: 9px 10px;
  width: 460px;
  left: 72px;
}
.cc-modal.modal .alert.alert-danger p {
  position: relative
}
@media screen and (min-width: 320px) and (max-width: 320px) {
  .cc-modal .modal-dialog {
    top: -70px
  }
  .cc-modal.modal button.close.btn-close {
    right: 0;
    top: -30px
  }
  .cc-modal .modal-content.modal-content-credit {
    width: 293px;
    top: 30%;
    left: -5px;
    padding: 20px 18px 25px
  }
  .cc-modal .modal-content.modal-content-cvv {
    width: 290px;
    top: 50%;
    right: -3px
  }
  .cc-modal input.cc-number {
    letter-spacing: 1px;
    min-width: 54px
  }
  .cc-modal.modal .alert.alert-danger.custom-danger {
    top: 70px;
    width: 310px;
    left: -5px;
  }
}
@media screen and (min-width: 360px) and (max-width: 360px) {
  .cc-modal .modal-dialog {
    top: -70px
  }
  .cc-modal.modal button.close.btn-close {
    right: -25px;
    top: -30px
  }
  .cc-modal .modal-content.modal-content-credit {
    width: 325px;
    top: 25%;
    left: -5px;
    padding: 20px 18px 25px
  }
  .cc-modal .modal-content.modal-content-cvv {
    width: 290px;
    top: 41%;
    right: -3px
  }
  .cc-modal input.cc-number {
    letter-spacing: 1px;
    min-width: 54px
  }
  .cc-modal.modal .alert.alert-danger.custom-danger {
    top: 85px;
    width: 350px;
    left: -5px;
  }
}
@media screen and (min-width: 375px) and (max-width: 375px) {
  .cc-modal .modal-dialog {
    top: -70px
  }
  .cc-modal.modal button.close.btn-close {
    right: -38px;
    top: -30px
  }
  .cc-modal .modal-content.modal-content-credit {
    width: 325px;
    top: 25%;
    left: -5px;
    padding: 20px 18px 25px
  }
  .cc-modal .modal-content.modal-content-cvv {
    width: 290px;
    top: 37%;
    right: -3px
  }
  .cc-modal input.cc-number {
    letter-spacing: 1px;
    min-width: 54px
  }
  .cc-modal.modal .alert.alert-danger.custom-danger {
    top: 155px;
    width: 365px;
    left: -5px;
  }
}

    .limited-label a label
    {   
        display: inline !important;
        background: #fb545b; 
        color: #fff; 
        font-size: 8px; 
        font-weight: normal; 
        padding: 2px 4px; 
        position: absolute; 
        border-radius: 5px; 
        text-transform: uppercase; 
        margin-left: 5px;
        margin-top: 7px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
    }
@media screen and (min-width: 480px) and (max-width: 480px) {
  .cc-modal .modal-content.modal-content-credit {
    left: 0
  }
  .cc-modal .modal-content.modal-content-cvv {
    right: 0px
  }
  .cc-modal.modal button.close.btn-close {
    right: -92px
  }
  .cc-modal.modal .alert.alert-danger.custom-danger{
    left: 2px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 640px) {
  .cc-modal .modal-content.modal-content-cvv {
    right: 75px
  }
}

.modal-backdrop-custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

#payment-popup{
    z-index: 9999;
}

.alert.alert-danger{
    background: 0 0!important;
    border: none;
    position: relative;
    top: -12px;
    left: 0;
    padding: 0;
    color: #fb545b!important;
    font-size: 11px;
    margin: 0;
    float: left;
    width: 100%;
    text-align: left;
}
.alert.alert-danger p {
    position: absolute;
    width: 100%;
    font-family: montserratregular;
}
.alert.alert-danger p span.mat-icon i.material-icons {
    float: left;
    font-size: 12px!important;
    margin-right: 5px;
    margin-top: 1px;
    color: #fb545b!important;
}


.billing-grey:hover {
    box-shadow: 0px 0px 12px rgba(60,60,60,0.2);
    transition: all .5s ease;
}
.billing-white:hover {
    box-shadow: 0px 0px 12px rgba(60,60,60,0.2);
    transition: all .5s ease;
}
span.appsumoPricing {
    position: absolute;
    top: 98px;
    right: 25px;
}

.pricing-tip {
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: default;
}
.pricing-tip i {
    color: #bec5c9;
    font-size: 13px !important;
    cursor: pointer;
    margin-top: 0px;
    float: left;
}
.pricing-checktip {
    float: left;
    background-color: #61696C;
    color: #fff;
    padding: 8px 8px;
    width: 180px;
    font-size: 10px;
    position: absolute;
    top: 22px;
    border-radius: 0px;
    visibility: hidden;
    box-shadow: 0 3px 7px 0px #919191;
    text-align: center;
    left: -103px;
    line-height: 1.42857143;
    font-family: montserratlight;
}
.pricing-tip:hover > .pricing-checktip {
    visibility: visible;
    z-index: 999;
}
.pricing-checktip:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 103px;
    width: 10px;
    height: 10px;
    border-bottom: 6px solid #61696C;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: none;
    margin: 0;
}

.billing-grey-top .plan-price-main{
    margin-top: 30px !important;
    margin-bottom: -10px !important;
}


.gif-outer{width: 90%;margin-left: 10%;margin-bottom: 5%; border: 2px solid #fff; box-shadow: -9px 9px 20px 0px rgba(0,0,0,0.45);}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar:horizontal {
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}






















