.container {
    margin-left: 15px;
    margin-top: 10px;
  }
  .panel-heading {
    padding: 10px 10px;
  }
  .panel-body, .panel-footer {
    background: #FFFFFF;
  }


  .todolist{
    background-color:#FFF;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.checkbox input[type=checkbox] {
    position: relative !important;
    width: 50px;
}

