<div class="subdomain-container">
	<div class="col-md-2 col-sm-2 col-xs-12"></div>
	<div class="col-md-8 col-sm-8 col-xs-12 np">
		<div class="np">
            <ul class="nav nav-tabs nav-justified" style="padding:0px;" role="tablist">
                <li role="presentation" class="active">
                    <a href="#allPremades" aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">
                    	All Premades 
                    </a>
                </li>
                <li role="presentation">
                    <a href="#dateWisePremades" aria-controls="myProfile" role="tab" data-toggle="tab" class="hvr-sweep-to-right">
                    	Date Wise Premades
                    </a>
                </li>
            </ul>
        </div>
        <!-- End: Nav tabs -->
        <!-- Start: tabs sub content -->
        
    </div>
    <div class="tab-content tab-sub-content tab-sub-content-2">
			<div class="tab-pane tab-width my-profile active" id="allPremades">
				<all-premades></all-premades>
			</div>
			<div class="tab-pane tab-width my-profile" id="dateWisePremades">
				<datewise-premades></datewise-premades>
			</div>
        </div>
	<div class="col-md-2 col-sm-2 col-xs-12"></div>
</div>

