.premadeCalculators-container {
    top: 50px !important;
    position: relative;
    margin-left: 255px;
    padding: 0px 20px;
    width: calc(100% - 255px);
    float: left;
    margin-bottom: 50px;
  
}

.dataTables_length{
  display: inherit;
}


.dataTables_filter{
  display: inherit;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

/* Start: Add New User Modal */
  #add-calc .modal-content {
      border-radius: 8px;
  }

  #add-calc .modal-header {
      padding: 10px 17px;
      border-bottom: none;
      background: #fb6066;
      border-radius: 7px 7px 0px 0px;
  }


  #add-calc.modal button.close.btn-close {
      text-shadow: none;
      position: absolute;
      right: 15px;
      top: 12px;
      z-index: 9;
      opacity: 1;
      transition: all 0.3s ease 0s !important;
  }

  #add-calc.modal button.close.btn-help {
      text-shadow: none;
      position: absolute;
      right: 40px;
      top: 11px;
      z-index: 9;
      opacity: 1;
      transition: all 0.3s ease 0s !important;
  }

  #add-calc.modal i.material-icons {
      font-size: 16px;
      color: #fff;
  }

  #add-calc.modal button.close.btn-help i.material-icons {
      font-size: 14px;
      color: #fff;
  }

  #add-calc .modal-title {
      text-transform: uppercase;
      color: #fff;
  }

  #add-calc .modal-body {
      padding: 15px 25px 30px;
  }

  #add-calc .btn-red-outline {
      color: #fb545b;
      background-color: #fff;
      border-color: #ffb5b8;
      border-radius: 0;
      font-size: 11px;
      padding: 7px 20px;
      margin: 10px 0px;
      transition: all 0.3s ease 0s;
      font-family: montserratregular;
      text-transform: uppercase;
      float : right ;
  }

  .modal .btn-red-outline.hvr-sweep-to-right::before {
      background: #ffb5b8 none repeat scroll 0 0;
      color: #fff !important;
  }

  .modal .btn-red-outline.hvr-sweep-to-right:hover{
        color: #fff !important;
  }

  .modal .btn-red-outline.hvr-sweep-to-right:focus, 
  .modal .btn-red-outline.hvr-sweep-to-right:active {
      color: #fff !important;
      background: #ffb5b8 none repeat scroll 0 0 !important;
  }
#add-calc.modal .control-label{
    top: -20px;
    font-family: montserratregular;
    font-size: 11px;
    text-transform: uppercase;
    color: #8e989f !important;
    line-height: 18px;
    font-weight: 500;
}