<div class="plan_container">
    <!-- <div class="row">
        <div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#planModal">
                Create Plan
            </button>
        </div>
    </div> -->
    <div *ngIf="loading">
        <div>
            <img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad">
        </div>
    </div>
    <div *ngIf="!loading">

        <select (change)="planChanged($event.target.value)">
            <option *ngFor="let plan of plansData;let i=index" [value]="plan['plan']['_id']" [selected]="selectedPlan['plan']['_id']==plan['plan']['_id']">
                {{plan['plan']['name']}}
            </option>
        </select>
        <div class="row">
            <plan [data]="selectedPlan['plan']" [plansInfo]="plansInfo" 
            (planAdded)="changeSelection($event)" (planUpdates)="updatePlan($event)"></plan>
        </div>
        <div class="row">
            <div class="col-md-6">
                <features [data]="selectedPlan" (featureUpdates)="emitChanges($event)"></features>
            </div>
            <div class="col-md-6">
                <premades [data]="selectedPlan" [templates]="templates"></premades>
            </div>
        </div>
    </div>
</div>