<div class="col-sm-12" *ngIf="isTokenExist">
    <div class="single category">
      <h3 class="side-title">Autologin Token List</h3>
        <div class="row-data" *ngFor="let logintoken of dealToken">
          <div [id]="logintoken.token">
            <span class="col-sm-4">{{logintoken.dealname}}</span>
            <span class="col-sm-8">{{logintoken.token}} <a href="javascript:void(0)" (click)="deleteToken(logintoken)" ><i class="material-icons editbtn">delete</i></a></span> 
          </div>  
        </div>
    </div>
</div>


<div class="col-sm-12">
    <h3 class="side-title">Add Autologin Token</h3>
    <input type="text" class="form-control"  id="dealname" name="dealname" placeholder="Deal name">
    <p class="form-control"name="autoLogintoken">{{token}} </p>
    <button type="button" class="btn btn-blue btn-red btn-signUp btnCancel" (click)="genearteToken()">Generate</button>
    <button type="submit" class="btn btn-blue btn-red btn-signUp btnAdd" (click)="saveToken()">Save</button>      
</div>