<div class="col-md-12">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad np">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Calculator Details</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class=" col-md-12 col-lg-12 ">
							<table id="calc-datatable" class="dataTable">
								<thead>
									<tr>
										<td>Calc Link</td>
										<td>Name</td>
										<td>Score</td>
										<td>Template</td>
										<td>Status</td>
                    <td>Webhook Event</td>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let calc of calc_details">
										<td *ngIf="calc.liveApp!=null">
											<a href="javascript:void()" (click)="calc_navigation(calc.url)">{{link_maker(calc.url)}}</a>
										</td>
										<td *ngIf="calc.liveApp==null">
											{{link_maker(calc.url)}}
										</td>
										<td>{{calc.name}}</td>
                    <td>{{calc.score}}</td>
										<td>{{calc.template}}</td>
										<td *ngIf="calc.liveApp==null && (calc.status=='DEV' || calc.status=='LIVE')">DEV</td>
										<td *ngIf="calc.liveApp!=null && (calc.status=='DEV' || calc.status=='LIVE')">LIVE</td>
										<td *ngIf="!(calc.status=='DEV' || calc.status=='LIVE')">{{calc.status}}</td>
                    <td><a data-toggle="modal" data-target="#event-details">Show</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="event-details" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">close</i>
        </button>
        <h5 class="modal-title">Event Details</h5>
      </div>
      <div class="modal-body">
        <div class="sahil-material">
          <div *ngFor="let key of generateKeys(event)">
            <p><i>{{ key + ' :- ' }}</i>{{ event[key] | json }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
