<div class="all-companies-container">
  <div *ngIf="loading" style="margin-left: 25%; margin-bottom: 40%; margin-top: 10%;">
    <div><img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad"></div>
  </div>
  <label>
        Search:<input type="search" placeholder="calc name or company name" [(ngModel)] = "search" aria-controls="table" (keyup) = "searchData()"/>
  </label>
  <div *ngIf="!loading">
    <table>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Subdomain
          </th>
          <th>
            Current Plan
          </th>
          <th>
            Calculator Url
          </th>
          <th>
            Created
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let data of calculator; let i = index;" style="margin-left: 8%;">
          <td>{{ data.name }}</td>
          <td>{{ data.company.sub_domain }}</td>
          <td>{{ data.company.billing.chargebee_plan_id }}</td>
          <td>{{ data.url }}</td>
          <td>{{ data.createdAt.split('T')[0]}} </td>
          <td> <input type="number" placeholder="Time In Second" [(ngModel)]="timeData[i]" /></td>
          <td>
            <a href="javascript:void(0)"><i class="ui-tooltip material-icons" style="font-size: 22px;" data-original-title="Edit" (click)="saveTime(i)">mode_edit</i></a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>