ul,li{
  list-style: none;
}
a:hover, a:focus{  
  transition: all 0.3s ease 0s !important;
}
a:focus, img:focus, button:focus{
  outline: none !important;
}


/* start: common css */
.np,.no-padding{padding: 0px;}
.clearfix {
    clear: both;
    float: left;
    width: 100%;
}
.text-center{
  text-align: center;
}
.section {
    width: 100%;
    float: left;
}
a:hover, a:focus{text-decoration: none; color: #8e989f;}
.font-italic{font-style: italic;}
.text-grey{color: #8e989f;}
.dis-block{display: block;}
/* end: common css */

#main {
    height: 100%;
    width: 100%;
    float: left;
}
#main .container {
    width: 100%;
    padding: 0 30px;
}

/* Start: header section */
#header {
    height: 65px;
}
#header .logo {
    padding-right: 40px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#header .logo a img.standard-logo {
    display: block;
    max-width: 100%;
}
.logo {
    /*float: left;*/
    font-size: 32px;
    line-height: 100%;
    height: 35px;
}
#header .menu {
    /*float: right;
    width: 83%;*/
    margin-top: 20px;
}
.navbar {
    margin-top: 20px;
    min-height: 35px;
}
.login{
  /*float: right;
  width: 10%;*/
}
.login-text {
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
}
.login .login-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.login-text {
    text-decoration: none;
    color: #8e989f;
}
.signup-text{
    float: right;
    color: #8e989f;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 15px;
}
.login .signup-text span.icon i {
    font-size: 18px;
    color: #ee795a;
    top: 0px;
    position: relative;
}
.login a:hover.signup-text, .login a:focus.signup-text, .login a:active.signup-text {
    text-decoration: none;
    color: #8e989f;
}

/* End: header section */

/* start: tabs section */
.main-tabs .nav>li>a {
    padding: 8px 40px;
    font-size: 13px;
    color: #8e989f !important;
    line-height: 20px;
    border-right: 1px solid #e9eef0 !important;
    border-radius: 0;
    margin-right: 0px;
    width: 185px;
    text-align: center;
}
.main-tabs .nav-tabs>li.active>a, .main-tabs .nav-tabs>li.active>a:focus, .main-tabs .nav-tabs>li.active>a:hover {
    color: #8e989f !important;
    cursor: pointer;
    background-color: #e9eef0 !important;
    border: none;
    border-bottom-color: transparent;
}
.main-tabs .nav>li>a:hover {
    background-color: #e9eef0 !important;
    color: #8e989f !important;
}
.main-tabs .nav-tabs {
    border-bottom: 1px solid #e9eef0;
    border-top: 1px solid #e9eef0;
    background: none;
}
.main-tabs .tab-pane {
    background: #fff;
    padding: 10px 0; 
    border: none;
    margin-top: 0px;
    float: left;
}
.main-tabs h1{
  font-size: 24px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs p{
  font-size: 14px;
  color: #8e989f;
  font-family: 'robotoregular';
}
.main-tabs hr {
    margin-top: 30px;
    margin-bottom: 35px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
.btn-blue {
    color: #fff !important;
    background-color: #5cc9e6 !important;
    border-color: #5cc9e6 !important;
    border-radius: 0 !important;
    padding: 7px 60px !important;
    margin-top: 15px !IMPORTANT;
    margin-right: 25px !important;
    transition: all 0.3s ease 0s;
    text-transform: none !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #fff;
    background-color: #57bdd8;
    border-color: #57bdd8;
    box-shadow: none;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #e9eef0 !important;
}
/* end: tabs section */


/* Start: Modal Forms Materiliaze CSS */
  .modal i.material-icons {
      font-size: 18px;
      color: #fff;
  }
  .modal button.close.btn-close {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 9;
      opacity: 0.7;
       transition: all 0.3s ease 0s !important;
  }
  .modal .close:focus, .modal .close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: .9 !important;
  }
  .modal-open .modal {
      overflow-x: hidden;
  }
  .modal{
      font-family: montserratregular;
  }
  .modal .form-control {
      height: 38px;
      padding: 7px 0;
      font-size: 14px;
      line-height: 1.42857143;
      font-family: montserratregular;
      color: #62696d;
  }
  .modal .form-group label.control-label {
      font-size: 14px;
      line-height: 1.07142857;
      color: #8e989f;
      font-weight: 400;
      margin: 16px 0 0 0;
      font-family: montserratregular;
  }
  .modal .form-group.label-floati62696dng label.control-label, 
  .modal .form-group.label-placeholder label.control-label {
      top: -7px;
      font-size: 14px;
      line-height: 18px;
  }
  .modal .form-group.label-floating:not(.is-empty) label.control-label {
      top: -20px; 
      font-family: montserratregular;
      font-size: 11px; 
      text-transform: uppercase;
      color: #8e989f !important;
  }
  .modal .form-group.label-floating.is-focused label.control-label {
      top: -20px; 
      font-size: 11px; 
      font-family: montserratregular;
      color: #8e989f !important;
  }
  .modal .form-group.is-focused label,
  .modal .form-group.is-focused label.control-label {
      color: #8e989f;
      text-transform: uppercase;
  }
  .modal .form-control,
  .modal .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d7dbdd, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d7dbdd, #d7dbdd);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
  }
  .modal .form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fb545b), to(#fb545b)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#fb545b, #fb545b), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#fb545b, #fb545b), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
            background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .modal .form-group {
      padding-bottom: 7px;
      margin: 12px 0 0 0;
      clear: both;
  }
  .modal-backdrop {
      background: rgba(0, 0, 0, 0.99) !important;
  }

/* End: Modal Forms Materiliaze CSS */

/* custom material css start (sahil) */
    .sahil-material .form-control {
        height: 38px;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.42857143;
        font-family: montserratregular;
        color: #62696d;
    }
    .sahil-material .form-group label.control-label {
        font-size: 14px;
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }
    .sahil-material .form-group label.control-label.seo-static-label{
        text-transform: uppercase !important;
        font-size: 11px; 
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating label.control-label, 
    .sahil-material .form-group.label-placeholder label.control-label {
        top: -7px;
        font-size: 14px;
        line-height: 18px;
        color: #8e989f;
    }
    .sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
        top: -20px; 
        font-family: montserratregular;
        font-size: 11px ; 
        text-transform: uppercase;
        color: #8e989f !important;
    }
    .sahil-material .form-group.label-floating.is-focused label.control-label {
        top: -20px; 
        font-size: 11px; 
        font-family: montserratregular;
        color: #8e989f !important;
    }
    .sahil-material .form-group.is-focused label,
    .sahil-material .form-group.is-focused label.control-label {
        font-size: 11px; 
        font-family: montserratregular;
        color: #8e989f !important;
        text-transform: uppercase;
    }
    .sahil-material .form-control,
    .sahil-material .form-group .form-control {
        border: 0 !important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#d7dbdd, #D2D2D2);
        background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#d7dbdd, #d7dbdd);
        background-image: linear-gradient(#009688, #009688), linear-gradient(#d7dbdd, #d7dbdd);
        
    }
   
    .sahil-material .form-group.is-focused .form-control {
        outline: none;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fb545b), to(#fb545b)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(#fb545b, #fb545b), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: -o-linear-gradient(#fb545b, #fb545b), -o-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: linear-gradient(#fb545b, #fb545b), linear-gradient(#D2D2D2, #D2D2D2);
        -webkit-background-size: 100% 2px, 100% 1px;
                background-size: 100% 2px, 100% 1px;
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }

/* custom material css end (sahil) */

/* end: product css*/


/* Start: Modal Forgot Password (materialize) */
    #forgot-password.forgot-password{
        width: 100%;
        float: left;
        margin-top: 0px;
    }

    #forgot-password .forgot-password-content{
      border-radius: 0px;
      /*border: 1px solid #e9eef0;*/
      float: left;
      width: 100%;
    }

    #forgot-password .forgot-password-header {
        padding: 20px 25px;
        border-bottom: none;
    }

    #forgot-password .logo-section{
        margin-bottom: 40px;
    }

    #forgot-password .logo-section span{
        display: block;
        font-size: 30px;
        color: #fb545b;
        font-family: montserratultra_light;
        line-height: 36px;
        margin-top: 10px;
    }

    #forgot-password .forgot-password-logo{
        /*margin-bottom: 20px;*/
       /* margin-top: 100px;*/
    }

    #forgot-password .forgot-password-body {
        position: relative;
        padding: 0px;
        float: left;
        width: 100%;
        z-index: 9999;
    }

    #forgot-password .forgot-password-left{
        width: 50%;
        float: left;
        padding: 40px 40px 40px 30px;
        display: table;
        height: 100vh;
        /*margin-top: 35px;*/
        background: #fff;
    }

    #forgot-password .forgot-password-left-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    #forgot-password .forgot-password-right {
        background: #fb545b;
        float: left;
        width: 50%;
        height: 100vh;
        padding: 30px;
        display: table;
        /*margin-top: 35px;*/
    }

    #forgot-password .forgot-password-right-inner {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    /*#forgot-password .img-margin{
        margin: 40px 0px 15px;
    }*/

    #forgot-password .img-section {
        float: none;
        width: 75%;
        margin: 0 auto;
        /*margin-left: 5% !important;*/
        position: relative;
        min-height: 365px;
    }

    .img-section .carousel-control.left{ display: none;}
    .img-section .carousel-control.right{ display: none;}
    .img-section .carousel-indicators {bottom: -23px; left:25% ; margin-left: 0; width:50%; }
    .img-section .carousel-indicators li {width: 6px; height: 6px;}
    .img-section .carousel-indicators .active{ margin: 1px;}

    #forgot-password .img-width{
        width: auto;
        /*margin-left: 5% !important;*/
        box-shadow: -9px -9px 12px rgba(0, 0, 0, 0.14);
        /*position: relative;*/
    }

    .login-img1 {
        position: absolute;
        left: 30px;
        top: 0;
    }

    .login-img2 {
        position: absolute;
        left: 233px;
        top: 78px;
        z-index: 9;
    }

    .login-img3 {
        position: absolute;
        left: 130px;
        top: 180px;
        z-index: 9;
    }

    #forgot-password .input-group {
        width: 100%;
        margin-top: 30px;
        border-bottom: 1px solid #d7dbdd;
    }

    #forgot-password .input-field {
        float: left !important;
        /* width: 100% !important; */
        border: none;
        box-shadow: none;
        color: #8e989f;
        font-size: 14px;
        font-family: montserratregular;
        padding: 0;
    }

    #forgot-password input[type="email"]::-webkit-input-placeholder, 
    #forgot-password input[type="password"]::-webkit-input-placeholder,
    #forgot-password input[type="text"]::-webkit-input-placeholder {
      color: #8e989f !important;
    }

    #forgot-password.forgot-password .form-group label.control-label {
        /*font-size: 14px;*/
        line-height: 1.07142857;
        color: #8e989f;
        font-weight: 400;
        margin: 16px 0 0 0;
        font-family: montserratregular;
    }

    #forgot-password .or-login {
        color: #62696d;
        font-size: 12px;
        font-family: montserratregular;
        margin-bottom: 0px;
        padding-top: 5px;
    }

    #forgot-password .forgot-btn {
        position: absolute;
        right: 2px;
        bottom: 25px;
        z-index: 9;
        color: #f07175;
        font-size: 12px;
         opacity: 1;
    }

    #forgot-password.forgot-password button.close.btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9;
        opacity: 0.7;
        transition: all 0.3s ease 0s !important;
    }

    #forgot-password.forgot-password .close:focus, #forgot-password.forgot-password .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .9 !important;
    }

    #forgot-password.forgot-password i.material-icons {
        font-size: 18px;
        color: #fff;
    }

    #forgot-password.forgot-password .btn-reset {
        margin-top: 40px !important;
        padding: 7px 40px !important;
        margin-bottom: 0px;
        font-size: 13px;
    }

    #forgot-password.forgot-password .alert.alert-danger {
        background: none !important;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0px 0px 10px;
    }

    #forgot-password.forgot-password .alert.alert-danger p{
        position: absolute;
        width: 100%;
    }

    #forgot-password.forgot-password .alert.alert-danger span.mat-icon{
        float: left;
        width: auto;
    }

    #forgot-password.forgot-password .alert.alert-danger span.mat-icon i.material-icons {
        font-size: 12px;
        margin-right: 5px;
        margin-top: 1px;
        color: #fb545b;
    }

    #forgot-password.forgot-password .form-group{
        padding-bottom: 7px;
        margin: 12px 0 0;
        clear: both;
    }

    /* Start: login-testimonial */

        .login-testimonial {
            float: left;
            width: 100%;
            padding: 0px 25px;
        }

        .testimonial-block {
            background: rgba(255,255,255, 0.3);
            border-radius: 50%;
            width: 76px;
            height: 76px;
            position: relative; margin: 0 auto; float: none;
        }

        .testimonial-block span{
            position: absolute;
            top: -15px;
            left: 18px;
            font-size: 120px;
            color: #fff;
            font-family: montserratlight;
        }

        .testimonial-content {
            float: left;
            width: 100%;
            margin: 0 auto;
            /*margin-left: 20px;*/
            margin-top: 10px; text-align: center;
        }

        .testi-desc{
            float: left;
            width: 100%;
            font-size: 24px;
            color: #fff;
            line-height: 26px;
            font-family: montserratlight;
        }

        .testi-client{
            font-size: 16px;
            color: rgba(255,255,255,0.8);
            line-height: 26px;
            font-family: montserratregular;
            font-style: italic;
            float: left;
            width: 100%;
            padding-top: 15px;
        }

        .video-wrapper{
            position: relative;
            float: left;
            width: 100%;
        }

        iframe {
            position: absolute; 
            top: 70px; 
            left: 98px;  
            right: 0;
            width: 68%;
        }

    /* End: login-testimonial */

    /* Start: loading dots */

        .loading:after {
            content: ' .';
            animation: dots 1s steps(5, end) infinite;
            font-size: 18px;
            line-height: 1px;
            position: relative;
            left: -3px;
        }

        @keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                                .5em 0 0 rgba(0,0,0,0);
            }

            40% {
                color: white;
                text-shadow: .25em 0 0 rgba(0,0,0,0),
                             .5em 0 0 rgba(0,0,0,0);
            }

            60% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 rgba(0,0,0,0);
            }
            80%, 100% {
                text-shadow: .25em 0 0 white,
                             .5em 0 0 white;
            }
        
        }
        
    /* End: loading dots */

    /* Start: validations success msg */
        #forgot-password.forgot-password .val-success-msg {
            font-size: 12px;
            position: relative;
            top: -10px;
            margin: 0px;
            margin-top: 15px;
        }

        #forgot-password.forgot-password .val-success-msg span.icon-success {
            float: left;
            margin-right: 5px;
            margin-top: 2px;
        }

        #forgot-password.forgot-password .val-success-msg span.icon-success i.material-icons {
            font-size: 14px;
            color: #00c853;
        }
        .g-recaptcha{
            float: left;
            width: 100%;
            margin-top: 20px;
        }

      /* Start: validations error msg */

/* End: Modal Forgot Password (materialize) */

/* Start: Responsive - Forgot Password Modal */

  @media (max-width: 767px){
      #forgot-password.forgot-password{
          padding-left: 0;
          margin-top: -50px;
      }

      #forgot-password .forgot-password-right{
          display: none;
      }

      #forgot-password.forgot-password .forgot-password-dialog {
          width: auto;
      }

      #forgot-password.forgot-password .forgot-password-left{
          width: 100% !important;
          padding: 40px 30px 75px !important;
      } 

      #forgot-password.forgot-password button.close.btn-close i.material-icons{
          color: #8e989f;
          top: 5px;
          position: relative;
      }

      #forgot-password.forgot-password .forgot-password-logo{
          margin-top: 10px;
      }

  }

  @media screen and (min-width: 768px) and (max-width: 768px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content {
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*.video-wrapper iframe{
            position: absolute;
            top: 60px;
            left: 55px;
            right: 0;
            width: 215px;
            height: 120px;
        }*/

        .login-testimonial {
            padding: 0px 25px;
        }

        #forgot-password .forgot-password-right {
            padding: 0px;
        }

        .testi-desc{
            font-size: 18px;
        }

        .testi-client {
            font-size: 13px;
        }

        #forgot-password .img-width {
            width: 54%;
        }

        .login-img2 {
            left: 145px;
            top: 45px;
        }

        .login-img3 {
            left: 85px;
            top: 105px;
        }

        #forgot-password .img-section {
            margin: 55px 0px 0px;
            min-height: 217px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1024px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe.iframe-1024{
            position: absolute;
            top: 60px;
            left: 69px;
            right: 0;
            width: 305px;
            height: 177px;
        }*/

        #forgot-password .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #forgot-password .img-section {
            min-height: 253px;
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        #forgot-password .img-width{
            width: 55%;
        }

        .login-img2{
            left: 165px;
            top: 52px;
        }

        .login-img3{
            left: 100px;
            top: 122px;
        }

        #forgot-password .img-section {
            min-height: 253px;
        }

        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testi-desc {
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

    }

    @media screen and (min-width: 1280px) and (max-width: 1280px) {
        .testimonial-block{
            float: none;
            margin: 0 auto;
        }

        .testimonial-content{
            float: left;
            width: 100%;
            margin-left: 0;
        }

        .testi-desc{
            text-align: center;
        }

        .testi-client{
            text-align: center;
        }

        /*iframe{
            position: absolute;
            top: 65px;
            left: 92px;
            right: 0;
            width: 390px;
            height: 219px;
        }*/

        #forgot-password .img-width{
            width: 54%;
        }

        #forgot-password .img-section{
            margin: 30px 0px 0px;
            min-height: 325px;
        }

        .login-img2{
            left: 200px;
            top: 67px;
        }

        .login-img3{
            left: 130px;
            top: 155px;
        }

    }

    @media screen and (min-width: 1920px) and (max-width: 1920px) {
        /*iframe{
            position: absolute;
            top: 75px;
            left: 140px;
            right: 0;
            width: 610px;
            height: 347px;
        }*/

        #forgot-password .img-section{ width: 59%; }
        .img-section .carousel-indicators{bottom: -23px; left: 25%; margin-left: 0; width: 50%;}

    }

/* End: Responsive - Forgot Password Modal */

@media (max-width: 1900px) {
    #signUp .form-group .control-label.label-url,
    .modal .form-group.label-floating.is-focused label.control-label,
    .modal .form-group.label-floating:not(.is-empty) label.control-label,
    .my-profile .form-group.favicon-upload label.control-label,
    .my-profile .form-group.time-zone label.control-label,
    .sahil-material .form-group.label-floating.is-focused label.control-label,
    .sahil-material .form-group.label-floating:not(.is-empty) label.control-label {
        font-size: 10px!important
    }
}

.btn-red {
    color: #fff;
    background-color: #fb545b;
    border-color: #fb545b;
    border-radius: 0;
    font-size: 14px;
    padding: 7px 70px;
    margin-top: 25px;
    transition: all .3s ease 0s;
    margin-right: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-family: montserratregular;
}
.alert.alert-danger {
    background: 0 0!important;
    border: none;
    position: relative;
    top: -12px;
    left: 0;
    padding: 0;
    color: #fb545b!important;
    font-size: 11px;
    margin: 0;
    float: left;
    width: 100%;
    text-align: left
}
.alert.alert-danger p {
    position: absolute;
    width: 100%;
    font-family: montserratregular;
}
.alert.alert-dange p span.mat-icon {
    float: left;
    width: auto
}
.alert.alert-danger p span.mat-icon i.material-icons {
    float: left;
    font-size: 12px!important;
    margin-right: 5px;
    margin-top: 1px;
    color: #fb545b!important
}
.alert.alert-danger.custom-alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 0;
    background: #feddde!important
}
.alert.alert-danger.custom-alert p {
    position: relative
}
.text-red {
    color: #fb545b;
}
a.text-red:focus,
a.text-red:hover {
    color: #fa5282
}
a.text-red {
    cursor: pointer;
}
.forgot-password .g-recaptcha iframe {
    position: static !important;
    width: 100% !important;
}














