<!-- Start: Modal Video Numerical -->
<div id="video-modal" class="modal fade" tabindex="-1" role="dialog" *ngIf="templateType=='Numerical'" >
	<div class="modal-dialog modal-dialog-video">
		<!-- Modal content-->
		<div class="modal-content">
			 <!--<div class="row">
				<div class="modal-header">
					<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
					<i class="material-icons">close</i></button>
					<h5 class="modal-title">Overview: Getting Started</h5>
				</div>
			</div> -->
			<div class="modal-body">
				<!--<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
				<i class="material-icons">close</i></button>-->
				<div class="row">
					<div class="modal-video-full">
						<!-- <h3 class="">How to make the Landing Page your own</h3> -->
						<div class="tab-content">
							<div id="overview" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Overview: How to build a calculator with Outgrow?</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<!-- <iframe width="960" height="540" src="https://www.youtube.com/embed/wFrj5kc1MLs">
									</iframe> -->
									<iframe id="overview-link" src="https://www.youtube.com/embed/NWep-z09ebE?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div id="landing-page" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Landing Page</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe id="landing-page-link" src="https://www.youtube.com/embed/HjCMDC7ATNA?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div id="questionnaire" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Questionnaire</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe id="questionnaire-link" src="https://www.youtube.com/embed/kJe8TVBdND0?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div id="results" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Results</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe id="results-link" src="https://www.youtube.com/embed/09jwoM2K0XY?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div id="lead-gen" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Lead Generation</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<iframe id="lead-gen-link" src="https://www.youtube.com/embed/IujD02VF7JA?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div id="summary" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Summary</h5>
								</div>
								<div class="img-responsive img-table">
									<div class="img-table-outer" id="summary-link">
										<i class="material-icons">alarm</i>
										<h4>Coming Soon</h4>
									</div>
								</div>
							</div>
							<div id="quiz" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Quiz</h5>
								</div>
								<div class="img-responsive img-table">
									<div class="img-table-outer" id="quiz-link">
										<i class="material-icons">alarm</i>
										<h4>Coming Soon</h4>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-bottom-bar">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" (click)="overview()">
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">1.</span>
										Overview
									</a>
								</li>
								<li>
									<a data-toggle="tab" (click)="landing()">
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">2.</span>
										Landing Page
									</a>
								</li>
								<li>
									<a data-toggle="tab" (click)="questionnaire()">
										<!-- <i class="material-icons">play_circle_filled</i> -->
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">3.</span>
											Questionnaire
									</a>
								</li>
								<li>
									<a data-toggle="tab" (click)="results()">
										<!-- <i class="material-icons">play_circle_filled</i> -->
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">4.</span>
											Results
									</a>
								</li>
								<li>
									<a data-toggle="tab" (click)="leadGen()">
										<!-- <i class="material-icons">play_circle_filled</i> -->
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">5.</span>
											Lead Generation
									</a>
								</li>
								<!-- <li>
									<a data-toggle="tab" (click)="summary()">
										<i class="material-icons">play_circle_filled</i>
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">6.</span>
											Summary
									</a>
								</li>-->
								<!-- <li>
									<a data-toggle="tab" (click)="quiz()">
										<i class="material-icons">play_circle_filled</i>
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">7.</span>
											Quiz
									</a>
								</li>-->
							</ul>
							<div class="responsive-menu-block ">
								<span class="responsive-menu-icon">
									<i class="material-icons">clear_all</i>
								</span>
								<div class="responsive-menu-list">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" (click)="overview()" class="res-menu">
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">1.</span>
												Overview
											</a>
										</li>
										<li>
											<a data-toggle="tab" (click)="landing()" class="res-menu">
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">2.</span>
												Landing Page
											</a>
										</li>
										<li>
											<a data-toggle="tab" (click)="questionnaire()" class="res-menu">
												<!-- <i class="material-icons">play_circle_filled</i> -->
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">3.</span>
													Questionnaire
											</a>
										</li>
										<li>
											<a data-toggle="tab" (click)="results()" class="res-menu">
												<!-- <i class="material-icons">play_circle_filled</i> -->
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">4.</span>
													Results
											</a>
										</li>
										<li>
											<a data-toggle="tab" (click)="leadGen()" class="res-menu">
												<!-- <i class="material-icons">play_circle_filled</i> -->
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">5.</span>
													Lead Generation
											</a>
										</li>
											<!--<li>
											<a data-toggle="tab" (click)="summary()" class="res-menu">
											 <i class="material-icons">play_circle_filled</i>
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">6.</span>
													Summary
											</a>
										</li>-->
										<!--<li>
											<a data-toggle="tab" (click)="quiz()" class="res-menu">
												 <i class="material-icons">play_circle_filled</i>
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">7.</span>
													Quiz
											</a>
										</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">

			</div> -->
		</div>
	</div>
</div>
<!-- End: Modal Video  Numerical-->

<!-- Start: Modal Video Recommendation -->
<div id="video-modal" class="modal fade" tabindex="-1" role="dialog" *ngIf="templateType=='Recommendation'" >
	<div class="modal-dialog modal-dialog-video">
		<!-- Modal content-->
		<div class="modal-content">
			<!--<div class="row">
				<div class="modal-header">
					<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
					<i class="material-icons">close</i></button>
					<h5 class="modal-title">Overview: Getting Started</h5>
				</div>
			</div> -->
			<div class="modal-body">
				<!--<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
				<i class="material-icons">close</i></button>-->
				<div class="row">
					<div class="modal-video-full">
						<!-- <h3 class="">How to make the Landing Page your own</h3> -->
						<div class="tab-content">
							<div id="overview" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Overview: How to build a quiz with Outgrow?</h5>
								</div>
								<div class="embed-responsive embed-responsive-16by9">
									<!-- <iframe width="960" height="540" src="https://www.youtube.com/embed/wFrj5kc1MLs">
									</iframe> -->
									<iframe id="overview-link" src="https://www.youtube.com/embed/Hxmbjbg1MF0?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>

							<div id="quiz" class="tab-pane fade">
								<div class="modal-header">
									<button type="button" class="close btn-close" (click)="modalClose()" aria-label="Close">
									<i class="material-icons">close</i></button>
									<h5 class="modal-title">Quiz</h5>
								</div>
								<div class="img-responsive img-table">
									<div class="img-table-outer" id="quiz-link">
										<i class="material-icons">alarm</i>
										<h4>Coming Soon</h4>
									</div>
								</div>
							</div>
						</div>

					<!--<div class="modal-bottom-bar">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" (click)="overview()">
										<span class="icon">
											<i class="material-icons">play_circle_filled</i>
										</span>
										<span class="number">1.</span>
										Quiz Overview
									</a>
								</li>
							</ul>
							<div class="responsive-menu-block ">
								<span class="responsive-menu-icon">
									<i class="material-icons">clear_all</i>
								</span>
								<div class="responsive-menu-list">
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" (click)="overview()" class="res-menu">
												<span class="icon">
													<i class="material-icons">play_circle_filled</i>
												</span>
												<span class="number">1.</span>
												Quiz Overview
											</a>
										</li>

									</ul>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">

			</div> -->
		</div>
	</div>
</div>
<!-- End: Modal Video  Recommendation-->
