<div id="cardPlanModal" class="modal fade two-side" tabindex="-1" role="dialog">
  <div class="modal-dialog model-full">
    <div class="modal-content modal-bg">
      <div class="modal-body og-message">
        <button type="button" (click)="callGA('LATER')" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">close</i>
        </button>
        <div class="col-md-12 np">
          <div class="new-modal-top">
            <div class="new-modal-top-inner">
              <div class="new-modal-top-container">
                  <div class="new-modal-right col-md-6 col-xs-12 rs-show">
                    <div class="new-modal-right-imgoutr-res">
                      <div class="embed-responsive embed-responsive-16by9" *ngIf="featureMediaLink != '' && featureMediaType == 'VIDEO'">
                        <video width="1324" height="607" autoplay loop poster="assets/images/page-loader.gif">
                          <source src="{{featureMediaLink}}" type="video/mp4">
                        </video>
                      </div>
                      <div *ngIf="featureMediaLink != '' && featureMediaType != 'VIDEO'">
                        <img class="laptopjacket" *ngIf="featureMediaLink != ''" src="{{featureMediaLink}}"/>
                        <img *ngIf="featureMediaLink == ''" src="assets/images/premiumModal-default-big.png" class="laptopjacket">
                      </div>
                      <div *ngIf="featureMediaLink == ''">
                        <img src="assets/images/premiumModal-default-big.png" class="laptopjacket">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-5 col-xs-12 np new-modal-left">
                    <span class="premiumlabel"><i class="material-icons">lock_outline</i></span>
                    <div class="new-modal-text">
                      <!--<span>“</span>-->
                      <h3>{{featureName}}</h3>
                      <!--<span>”</span>-->
                    </div>
                    <p class="new-modal-paragraph">
                      {{featureDescrip}}
                    </p>
                    <div class="col-xs-12 text-center np" >
                      <a href="javascript:void(0);" class="new-modal-upgrade" (click)="upgradePlanSlide()">
                        <p>Change Plan</p>
                        <i class="material-icons">arrow_downward</i>
                      </a>
                    </div>
                  </div>
                  <div class="new-modal-right col-md-7 col-xs-12 np rs-hide">
                    <div class="new-modal-right-imgoutr">
                      <div class="embed-responsive embed-responsive-16by9" *ngIf="featureMediaLink != '' && featureMediaType == 'VIDEO'">
                        <video width="1324" height="607" autoplay loop poster="assets/images/page-loader.gif">
                          <source src="{{featureMediaLink}}" type="video/mp4">
                        </video>
			    	          </div>
                      <div *ngIf="featureMediaLink != '' && featureMediaType != 'VIDEO'">
                        <img class="laptopjacket" *ngIf="featureMediaLink != ''" src="{{featureMediaLink}}"/>
                        <img *ngIf="featureMediaLink == ''" src="assets/images/premiumModal-default-big.png" class="laptopjacket">
                      </div>
                      <div *ngIf="featureMediaLink == ''">


                        <img src="assets/images/premiumModal-default-big.png" class="laptopjacket">
                        <!-- Image slider -->
                        <!--<div id="slideshow">
                            <div>
                              <img src="assets/images/t1-1.png">
                            </div>
                            <div>
                              <img src="assets/images/t1-5.png">
                            </div>
                            <div>
                              <img src="assets/images/t1-9.png">
                            </div>
                            <div>
                              <img src="assets/images/t2-1.png">
                            </div>
                            <div>
                              <img src="assets/images/t2-2.png">
                            </div>
                            <div>
                              <img src="assets/images/t3-1.png">
                            </div>
                            <div>
                              <img src="assets/images/t3-2.png">
                            </div>
                            <div>
                              <img src="assets/images/t3-4.png">
                            </div>
                          </div>
                       </div>-->
                     </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
          <div class="new-modal-bot" id="plansList">
            <div class="new-modal-bot-container">
              <h3 class="new-modal-bot-heading">Plans and Pricing</h3>
              <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 np billing-plan-list">
                <ul>
                    <li class="plan-cycle active" id="m">
                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="cycleChange('m')">
                            Monthly
                        </a>
                    </li>
                    <li class="plan-cycle" id="s">
                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="cycleChange('s')">
                            Semi-Annual
                        </a>
                    </li>
                    <li class="plan-cycle" id="y">
                        <a href="javascript:void(0);" class="hvr-sweep-to-right" (click)="cycleChange('y')">
                            Annual
                        </a>
                    </li>
                </ul>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 np billing-table">
                <!-- Start: Starter Box -->
                <span *ngFor="let plan of viewPlans">
                  <div class="col-md-4 col-sm-4 col-xs-12 np" [class.starter-box]="plan.id=='freelancer_m'||plan.id=='freelancer_s'||plan.id=='freelancer_y'" [class.billing-grey]="plan.id!=currentPlan_id" [class.business-box]="plan.id=='business_m'||plan.id=='business_s'||plan.id=='business_y'" [class.essentials-box]="plan.id=='essentials_m'||plan.id=='essentials_s'||plan.id=='essentials_y'" [class.enterprise-box]="plan.id=='enterprise_m'||plan.id=='enterprise_s'||plan.id=='enterprise_y'" [class.billing-white]="plan.id==currentPlan_id" [class.selected-plan]="plan.id==currentPlan_id">
                    <div class="col-md-12 col-sm-12 col-xs-12 np text-center" [class.billing-grey-top]="plan.id!=currentPlan_id" [class.billing-white-top]="plan.id==currentPlan_id" [class.business-box-xshadow]="plan.id=='essentials_m'||plan.id=='essentials_s'||plan.id=='essentials_y'">
                      <span *ngIf="plan.id=='business_m'||plan.id=='business_s'||plan.id=='business_y'" class="ribbon">Most Popular</span>
                      <!--<h3 class="plan-title">{{plan.name.split(' ')[0]}}<br/>{{plan.name.split(' ')[1]}}</h3>-->

                      <h3 class="plan-title">{{plan.name.split(' ')[0]}}</h3>
									    <h4 class="plan-title-cycle">{{plan.name.split(' ')[1]}}</h4>
                      <h3 class="plan-price plan-price-main">
                        <span class="strike-off strike-price" *ngIf="plan.id != 'freelancer_m' && plan.id != 'business_m' && plan.id != 'enterprise_m' && plan.id.split('_')[0] != 'enterprise'">
                          {{plan.currency_code}}
                          <span *ngIf="plan.id.split('_')[0] == 'freelancer'">{{freelancer_m_price}}</span>
                          <span *ngIf="plan.id.split('_')[0] == 'essentials'">{{essentials_m_price}}</span>
                          <span *ngIf="plan.id.split('_')[0] == 'business'">{{business_m_price}}</span>
                          / Month
                        </span>
                        <a href="javascrpt:void(0);" class="" *ngIf="plan.id.split('_')[0] == 'enterprise'">
                          <i class="material-icons">headset_mic</i> Need Enterprise grade Features? Contact Us.
                        </a>
                        <span *ngFor="let features of planFeatures">
                          <span *ngFor="let cycle of features.cycles">
                            <span *ngIf="plan.id.split('_')[0]==cycle.plan && plan.id.split('_')[1]==cycle.coupon_cycle">
                              <span class="actual-price" [class.strike-off]="cycle.coupon_active" *ngIf="plan.id.split('_')[0] != 'enterprise'">
                                {{plan.currency_code}}
                                <span *ngIf="plan.period_unit == 'year' && plan.id != 'essentials_y'">
                                  {{toCeil(plan.price/12)}}
                                </span>
                                <span *ngIf="plan.period_unit == 'year' && plan.id == 'essentials_y'">
                                  35
                                </span>
                                <span *ngIf="plan.period_unit == 'month' && plan.id != 'essentials_s' && plan.period == 6">
                                  {{toCeil(plan.price/6)}}
                                </span>
                                <span *ngIf="plan.period_unit == 'month' && plan.id == 'essentials_s' && plan.period == 6">
                                  40
                                </span>
                                <span *ngIf="plan.period_unit == 'month' && plan.id != 'essentials_m' && plan.period == 1">
                                  {{plan.price}}
                                </span>
                                <span *ngIf="plan.period_unit == 'month' && plan.id == 'essentials_m' && plan.period == 1">
                                  45
                                </span>
                                / Month
                              </span>
                              <span class="actual-price" *ngIf="cycle.coupon_active && plan.id.split('_')[0] != 'enterprise'">
                                {{plan.currency_code}}
                                <span *ngIf="cycle.coupon_type=='PERCENTAGE'">
                                  <span *ngIf="plan.period_unit == 'year' && plan.id.split('_')[0] != 'essentials'">
                                    {{toCeil(plan.price/12)-(toCeil(plan.price/12)*cycle.coupon_value/100)}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'year' && plan.id.split('_')[0] == 'essentials'">
                                    35
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 6 && plan.id.split('_')[0] != 'essentials'">
                                    {{toCeil(plan.price/6)-(toCeil(plan.price/6)*cycle.coupon_value/100)}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 6 && plan.id.split('_')[0] == 'essentials'">
                                    40
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 1 && plan.id.split('_')[0] != 'essentials'">
                                    {{plan.price-(plan.price*cycle.coupon_value/100)}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 1 && plan.id.split('_')[0] == 'essentials'">
                                    45
                                  </span>
                                </span>
                                <span *ngIf="cycle.coupon_type!='PERCENTAGE'">
                                  <span *ngIf="plan.period_unit == 'year' && plan.id.split('_')[0] != 'essentials'">
                                    {{toCeil(plan.price/12)-cycle.coupon_value}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'year' && plan.id.split('_')[0] == 'essentials'">
                                    35
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 6 && plan.id.split('_')[0] != 'essentials'">
                                    {{toCeil(plan.price/6)-cycle.coupon_value}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 6 && plan.id.split('_')[0] == 'essentials'">
                                    40
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 1 && plan.id.split('_')[0] != 'essentials'">
                                    {{plan.price-cycle.coupon_value}}
                                  </span>
                                  <span *ngIf="plan.period_unit == 'month' && plan.period == 1 && plan.id.split('_')[0] == 'essentials'">
                                    45
                                  </span>
                                </span>
                                / Month
                              </span>
                              <!-- for appsumo -->
                              <span class="appsumoPricing" *ngIf="isAppsumoUser && plan.id.split('_')[0] == 'essentials'"><img src="assets/images/appSumoPricing.png"></span>
                              <!-- for appsumo -->
                              <small *ngIf="cycle.coupon_active" class="apply-coupon">Use Coupon code : {{cycle.coupon_name}}</small>
                            </span>
                          </span>
                        </span>
                      </h3>
                      <!--<p>{{plan.description}}</p>-->
                      <span class="border-center"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 np rs-hide" id="{{plan.id}}" [class.billing-grey-bottom]="plan.id!=currentPlan_id" [class.billing-white-bottom]="plan.id==currentPlan_id">
                        <span *ngFor="let feature of planFeatures">
                          <ul class="billing-list" *ngIf="feature.planLimit.id === plan.id.split('_')[0] && feature.planLimit.active"> <!---->
                            <li class="greenClass calculators">
                              <a href="javascript:void(0);" class="">
                                <span class="mat-icon"></span>
                                <span class="list-name">
                                  <span *ngIf="feature.planLimit.calculators == -1"> Unlimited Calculators</span>
                                  <span *ngIf="feature.planLimit.calculators == 1"> 1 Calculator</span>
                                  <span *ngIf="feature.planLimit.calculators > 1"> {{feature.planLimit.calculators}} Calculators</span>
                                </span>
                              </a>
                            </li>
                            <li class="greenClass users">
                              <a href="javascript:void(0);" class="">
                                <span class="mat-icon"></span>
                                <span class="list-name">
                                  <span *ngIf="feature.planLimit.users == -1"> Unlimited Collaborators</span>
                                  <span *ngIf="feature.planLimit.users == 1"> 1 Collaborator</span>
                                  <span *ngIf="feature.planLimit.users > 1"> {{feature.planLimit.users}} Collaborators</span>
                                </span>
                              </a>
                            </li>
                            <li class="greenClass leads" *ngIf="!isAppsumoUser">
                              <a href="javascript:void(0);" class="">
                                <span class="mat-icon"></span>
                                <span class="list-name">
                                  <span *ngIf="feature.planLimit.leads == -1"> Unlimited Leads</span>
                                  <span *ngIf="feature.planLimit.leads == 1"> 1 lead</span>
                                  <span *ngIf="feature.planLimit.leads > 1"> {{feature.planLimit.leads}} Leads</span>
                                </span>
                              </a>
                            </li>
                            <li class="greenClass visits" *ngIf="!isAppsumoUser">
                              <a href="javascript:void(0);" class="">
                                <span class="mat-icon"></span>
                                <span class="list-name">
                                  <span *ngIf="feature.planLimit.visits == -1"> Unlimited Visits</span>
                                  <span *ngIf="feature.planLimit.visits == 1"> 1 Visit</span>
                                  <span *ngIf="feature.planLimit.visits > 1"> {{feature.planLimit.visits}} Visits</span>
                                </span>
                              </a>
                            </li>
                            <!--<span *ngFor="let feat of feature.features">
                              <li class="greenClass limited-label" >
                                <a href="javascript:void(0);" class="">
                                  <span class="mat-icon"></span>
                                  <span class="list-name">{{feat.feature.name}}</span>
                                  <div class="pricing-tip" *ngIf="feat.feature.description != null">
                                      <i class="material-icons">info</i>
                                      <div class="pricing-checktip">{{feat.feature.description}}</div>
                                  </div>
                                  <label *ngIf="feat.active && feat.is_limited">Limited</label>-->
                                <!--</a>
                              </li>
                            </span>-->
                          </ul>
                        </span>
                        <div class="col-md-12 col-sm-12 col-xs-12 np text-center" *ngIf="currentPlan_id == plan.id">
                            <button class="btn btn-light-grey-outline btn-light-grey-hover" type="">Your Current Plan</button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 np text-center" *ngIf="currentPlan_id != plan.id && plan.id.split('_')[0] != 'enterprise'">
                            <button type="" class="btn btn-white-red-outline btn-hover" [attr.id]="plan.id" data-backdrop="false" (click)="upgradeEstimate(plan)">Change Plan</button>
                        </div>
                    </div>
                    <a href="javascript:void(0);" (click)="expand(plan.id)" [class.toggle-dots-grey]="plan.id!=currentPlan_id" [class.toggle-dots-white]="plan.id==currentPlan_id">
                      <div>
                        <i class="material-icons" id="{{plan.id + '_arrow'}}">keyboard_arrow_down</i>
									      <p class="more-info" id="{{plan.id + '_more'}}">More Info</p>
                      </div>
                    </a>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer col-md-12 np hide">
      </div>
    </div>
  </div>
  <!-- Start: Upgrade Plan Modal -->
<!-- End:Upgrde Plan Modal -->
</div>
<div id="plan-popup" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <button type="button" class="close btn-close" (click)="closeUpgrade()">
          <i class="material-icons">close</i>
        </button>
        <h5 class="modal-title">Plan Change summary</h5>
      </div>
      <div class="modal-body col-md-12 np scrollbar">
        <img src="assets/images/logoAnim.gif" alt="loading..." id="imgLoad" *ngIf="loading">
        <div class="sahil-material" id="estimate" *ngIf="!loading">
          <div class="alert alert-danger custom-alert" id="error-UpgradePlan" *ngIf="error">{{errorMessage}}</div>
          <div class="col-md-12 np">
            <!-- Start: subscription changes -->
            <div class="col-md-12 col-sm-12 col-xs-12 np">
              <div class="subscription-changes-panel">
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                  <h6 class="title">Subscription changes</h6>
                  <span class="sub-title">
                    Subscription will be changed to {{invoiceEstimate.line_items[0].description}} immediately.
                  </span>
                </div>
                <div class="subs-detail">
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="col-md-4 col-sm-4 col-xs-12 np">
                      <span class="col-md-5 col-sm-6 col-xs-6 np subs-label">New Plan &nbsp;:&nbsp;</span>
                      <span class="col-md-7 col-sm-6 col-xs-6 np subs-filled">{{invoiceEstimate.line_items[0].description}}</span>
                    </div>
                    <div class="col-md-8 col-sm-4 col-xs-12 np">
                      <span class="col-md-3 col-sm-6 col-xs-6 np subs-label">New Billing Period &nbsp;:&nbsp;</span>
                      <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">
                        {{invoiceEstimate.line_items[0].date_from}} to {{invoiceEstimate.line_items[0].date_to}}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <div class="col-md-4 col-sm-4 col-xs-12 np">
                      <span class="col-md-5 col-sm-6 col-xs-6 np subs-label">Plan Price &nbsp;:&nbsp;</span>
                      <span class="col-md-7 col-sm-6 col-xs-6 np subs-filled">{{invoiceEstimate.currency_code}} {{selectdePlan.price}}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 np">
                      <span class="col-md-6 col-sm-6 col-xs-6 np subs-label">Billing Cycle &nbsp;:&nbsp;</span>
                      <span class="col-md-6 col-sm-6 col-xs-6 np subs-filled">
                        {{billingCycle}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End: subscription changes-->
            <div id="coupon" class="col-md-12 col-sm-12 col-xs-12 np check">
              <form id="couponForm" [formGroup]="couponForm" (ngSubmit)="subscriptionEstimate(selectdePlan)" *ngIf="!couponCode">
                <div class="col-md-12 col-sm-12 col-xs-12 np">
                  <div class="col-md-6 col-sm-6 col-xs-12 np">
                    <div class="form-group input-group label-floating" id="couponFormDiv" [class.is-empty]="!couponForm.value.couponInput">
                      <label class="control-label" for="couponInput"> Enter coupon code here</label>
                      <input class="form-control" id="couponInput" type="text" name="couponInput" [(ngModel)]="couponCodeModal" formControlName="couponInput">
                      <span class="input-group-btn">
                        <button class="btn btn-red-outline btn-hover" type="submit" id="btnCoupon" [disabled]="!couponForm.valid">Apply</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 np"></div>
                </div>
              </form>
              <div id="coupon-applied" class="col-md-12 col-sm-12 col-xs-12 np coupon-applied" *ngIf="couponCode">
                <span class="title">Coupon applied</span>
                <button class="btn btn-red-outline" type="button" (click)="cancelCoupon(selectdePlan)">
                  {{couponCode}} <i class="material-icons">cancel</i>
                </button>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 np acc-approved" *ngIf="couponOffer">
                Promo Code Applied: <span class="font_semibold"> {{couponOffer.id}}</span><br/>
                <span class="current-plan-span">You get
                  <span *ngIf="couponOffer.extra_calc == -1"> Unlimited free calculators &amp; quizzes</span>
                  <span *ngIf="couponOffer.extra_calc == 1"> Unlimited free calculator &amp; quiz</span>
                  <span *ngIf="couponOffer.extra_calc > 1"> {{couponOffer.extra_calc}} free calculators &amp; quizzes</span>
                  <span *ngIf="couponDiscount.discount_value != null && couponDiscount.discount_value > 0"> and
                    <span *ngIf="couponDiscount.discount_type != 'percentage'"> USD </span>{{couponDiscount.discount_value}}
                    <span *ngIf="couponDiscount.discount_type == 'percentage'">% discount</span>
                    <span *ngIf="couponDiscount.discount_type != 'percentage'">OFF</span>
                  </span>.
                </span>
              </div>
            </div>
            <!-- Start: current-payment-details -->
            <div class="col-md-12 col-sm-12 col-xs-12 np">
              <div class="current-payment-details-panel">
                <h6 class="title-bg">
                  <i class="material-icons">description</i> &nbsp;Current Payment Details
                </h6>
                <div class="col-md-12 col-sm-12 col-xs-12 np current-payment-detail">
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                      <span>{{invoiceEstimate.line_items[0].description}}</span>
                    </span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      {{invoiceEstimate.currency_code}} {{invoiceEstimate.line_items[0].unit_amount}}
                    </span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="invoiceEstimate.line_items[0].discount_amount != 0">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">subtotal</span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      {{invoiceEstimate.currency_code}} {{invoiceEstimate.sub_total}}
                    </span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np" *ngIf="invoiceEstimate.discounts.length">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">Promocode discount</span>
                    <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      {{invoiceEstimate.currency_code}} {{invoiceEstimate.discounts[0].amount}}
                    </span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">Credit Applied</span>
                    <span class="upgrade-plan-right col-md-1 col-sm-1 col-xs-1 np minus">-</span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      {{invoiceEstimate.currency_code}} {{invoiceEstimate.credits_applied}}
                    </span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">Amount Due</span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      {{invoiceEstimate.currency_code}} {{invoiceEstimate.amount_due}}
                    </span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 np">
                    <span class="upgrade-plan-left col-md-8 col-sm-8 col-xs-8 np">
                      <span class="font_semibold">Total Payment</span>
                    </span>
                    <span class="upgrade-plan-right col-md-3 col-sm-3 col-xs-3 np">
                      <span class="font_semibold">
                        {{invoiceEstimate.currency_code}} {{invoiceEstimate.total}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End: current-payment-details -->
          </div>
        </div>
      </div>
      <div class="modal-footer col-md-12 np" *ngIf="!loading">
        <div class="col-md-9 np">
          <div class="footer-text">
            <span *ngIf="estimation.credit_note_estimates.length">
              <p>
                A Paid invoice # {{estimation.credit_note_estimates[0].reference_invoice_id}} is present for the current billing cycle ({{estimation.credit_note_estimates[0].line_items[0].date_from}} - {{estimation.credit_note_estimates[0].line_items[0].date_to}}).
              </p>
              <!--<p style="margin-bottom: 0px;">-->
                <!--Prorated Refundable Credits ({{estimation.credit_note_estimates[0].currency_code}} {{estimation.credit_note_estimates[0].line_items[0].amount}}) will be created for the unused period of {{estimation.credit_note_estimates[0].line_items[0].date_from}} - {{estimation.credit_note_estimates[0].line_items[0].date_to}}.-->
                <!--<span *ngIf="upgradeToPlan.price > runningPlanDetail.price">-->
                  <!--and applied on the immediate invoice.-->
                <!--</span>-->
                <!--<span *ngIf="upgradeToPlan.price < runningPlanDetail.price">-->
                  <!--, out of which {{invoiceEstimate.currency_code}} {{invoiceEstimate.total}} will be applied on the immediate invoice-->
                <!--</span>.-->
              <!--</p>-->
            </span>


          </div>
        </div>
        <button type="" class="btn btn-red-outline btn-hover" id="btnMakePayment" (click)="makePayment()">Change Plan</button>
      </div>
    </div>
  </div>
</div>

<!-- Start: Modal CC -->
<div id="payment-popup" class="modal fade cc-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form class="form-wrapper" [formGroup]="setupPaymentPremium" id="setupPaymentPremium" (ngSubmit)="setupMakePayment()">
      <div class="modal-content modal-content-credit">
        <button type="button" class="close btn-close" (click)="closeCC()">
          Close <i class="material-icons">close</i>
        </button>
        <div class="modal-body">
          <div class="col-md-12 col-sm-12 col-xs-12 np">
            <div class="col-md-12 col-sm-12 np">
              <div class="col-md-6 col-sm-6 col-xs-6 np modal-header">
                Payment Setup
              </div>
              <!--<img id="cardType" src="assets/images/payment-icons/icon-{{cardType}}.png" alt="{{cardType}}" class="pull-right" *ngIf="cardType"/>-->
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 np">
              <div class="col-md-12 col-sm-12 col-xs-12 np credit-sec">
                <input type="text" pattern="[0-9]*" size="4" maxlength="4" class="cc-number" placeholder="XXXX" formControlName="cardNumber1" id="cardNumber1" name = "cardNumber1" #num1 (keyup)="onChangeCardNumber(num1)">
                <input type="text" pattern="[0-9]*" size="4" maxlength="4" class="cc-number" placeholder="XXXX" formControlName="cardNumber2" id="cardNumber2" name = "cardNumber2" [readonly]="!setupPaymentPremium.controls.cardNumber1.valid" #num2 (keyup)="onChangeCardNumber(num2)">
                <input type="text" pattern="[0-9]*" size="4" maxlength="4" class="cc-number" placeholder="XXXX" formControlName="cardNumber3" id="cardNumber3" name = "cardNumber3" [readonly]="!setupPaymentPremium.controls.cardNumber2.valid" #num3 (keyup)="onChangeCardNumber(num3)">
                <input type="text" pattern="[0-9]*" size="4" maxlength="4" class="cc-number cc-number-last" placeholder="XXXX" formControlName="cardNumber4" id="cardNumber4" name = "cardNumber4" [readonly]="!setupPaymentPremium.controls.cardNumber3.valid" #num4 (keyup)="onChangeCardNumber(num4)">
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 np validity-sec">
                <div class="col-md-5 col-sm-5 col-xs-5 np"></div>
                <div class="col-md-7 col-sm-7 col-xs-7 np">
                  <span class="val-text">Validity</span>
                  <div class="pull-right">
                    <input type="text" pattern="[0-9]*" placeholder="MM" maxlength="2" class="cc-exp" id="cardMonth" name="cardMonth" formControlName="cardMonth">
                    <span class="separator">/</span>
                    <input type="text" pattern="[0-9]*" placeholder="YYYY" maxlength="4" class="cc-exp cc-exp-last" id="cardYear" name="cardYear" formControlName="cardYear">
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 np name-sec">
                <input type="text" placeholder="YOUR NAME" class="cc-name col-md-9 col-sm-9 col-xs-12 np" id="nameOnCard" name="nameOnCard" formControlName="nameOnCard">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content modal-content-cvv">
        <div class="modal-body">
          <div class="col-md-12 col-sm-12 col-xs-12 np">
            <div class="col-md-12 col-sm-12 np">
              <span class="grey-bg"></span>
            </div>
            <div class="col-md-12 col-sm-12 np">
              <input type="password" size="4" maxlength="4" class="cvv-number" placeholder="XXX" name="cvv" id="cvv" formControlName="cvv" #cvv (keyup)="onChangeCardNumber(cvv)">
              <span class="cvv-text">CVV</span>
            </div>
          </div>
        </div>
        <button id="btnSetupCard" [disabled]="!setupPaymentPremium.valid" type="submit" class="btn btn-red-outline btn-hover">
          <span>Make Payment</span>
        </button>
      </div>
      <div *ngIf="setupPaymentPremium.controls.nameOnCard.touched && !setupPaymentPremium.controls.nameOnCard.valid" class="alert alert-danger custom-danger">
        <p *ngIf="setupPaymentPremium.controls.nameOnCard.errors.required">
          <span class="mat-icon">
            <i class="material-icons">report_problem</i>
          </span>
          Name is required.
        </p>
        <p *ngIf="setupPaymentPremium.controls.nameOnCard.errors.minlength">
          <span class="mat-icon">
            <i class="material-icons">report_problem</i>
          </span>
          Min 3 character is required.
        </p>
      </div>

      <div *ngIf="setupPaymentPremium.controls.cvv.touched && !setupPaymentPremium.controls.cvv.valid" class="alert alert-danger custom-danger">
        <p *ngIf="setupPaymentPremium.controls.cvv.errors.required">
          <span class="mat-icon">
            <i class="material-icons">report_problem</i>
          </span>
          CVV is required.
        </p>
        <p *ngIf="setupPaymentPremium.controls.cvv.errors.minlength || setupPaymentPremium.controls.cvv.errors.maxlength">
          <span class="mat-icon">
            <i class="material-icons">report_problem</i>
          </span>
          CVV is of minimum 3 and maximum 4 digits.
        </p>
        <p *ngIf="setupPaymentPremium.controls.cvv.errors.pattern">
          <span class="mat-icon">
            <i class="material-icons">report_problem</i>
          </span>
          Invalid CVV
        </p>
      </div>

      <div *ngIf="error" class="alert alert-danger custom-danger">
        <p>
          <span class="mat-icon">
              <i class="material-icons">report_problem</i>
          </span>
          {{errorMessage}}
        </p>
      </div>
    </form>
  </div>
</div>
<!-- End: Modal CC -->
