table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color:#fb5559;
    color: white;
}
.dropdown-view, .sheet-View, .reset-sheet {
    margin-left:269px;
}
