<div class="sheet-View">
  <div class="sheet-search">
    <label>Enter subdomain to view generated sheets</label>
    <br/>
    <input type='text' [(ngModel)]='searchText' placeholder='Please enter subdomain' />
    <button class="btn-primary" (click)='sheetsView()'>Search</button>
  </div>
  <table *ngIf="sheetArr?.length">
    <tr>
      <th>Calculator name</th>
      <th>Sheets</th>
      <th>Reset sheets</th>
      <th>Export leads</th>
      <th>Export visits</th>
      <th>Schedule Export To Sheet</th>
    </tr>
    <tr *ngFor="let obj of sheetArr; let i = index">
      <td>{{nameMapping[obj._id]}}</td>
      <td>
        <div class="col-md-1">
          <button (click)="sheetPopup(obj.sheets,true)" class="btn btn-primary" [disabled]='!obj.sheets.length'>
            View sheets
          </button>
        </div>
      </td>
      <td>
        <button [disabled]='!obj.sheets.length' class="btn btn-danger" (click)='resetSheets(obj._id)'>Reset</button>
      </td>
      <td>
        <button class="btn btn-success" (click)="exportSheet(obj._id,true)">Export leads</button>
      </td>
      <td>
        <button class="btn btn-success" (click)="exportSheet(obj._id,false)">Export visits</button>
      </td>
      <td>
   <input id="option" type="checkbox" [checked]="obj.cron.enabled" value="option" (change)="exportSchedule(i)">
       </td>
    </tr>
  </table>
  <br/>
  <p *ngIf="errorInfo">{{errorInfo}}</p>
</div>


<div id="sheetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Generated sheets</h4>
      </div>
      <div class="modal-body">
        <label>Sheet urls</label>
        <ul *ngFor="let urls of sheetUrlArr">
          <li style="width:555px;word-break: break-all">{{urls.sheetUrl}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
