:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.all-companies-container{
  top:100px;
  position: relative;
  margin-left: 255px;
}


.dataTables_length{
  display: inherit;
}

.dataTables_filter{
  display: inherit;
}

.smart-template-check input {
  width: auto;
  margin-right: 5px;
}

.advanced-filter {
  clear: both;
  margin-top: 20px;
  background: beige;
  padding-top: 20px;
}
.cust {
  width: 100%;

}

.custom-filter {
  float: right;
  margin-right: 12px;
}
.advanced-filter {
  clear: both;
  margin-top: 20px;
  background: beige;
  padding-top: 20px;
}

.filter-icon {
  cursor: pointer;
  display: inline;
  margin-left: 10px;
}












